@import "mixins.scss";
#AlarmsContent_AlarmList {	@include elemTop(0);
}
#AlarmsContent_AlarmList {	@include elemLeft(0);
}
#AlarmsContent_AlarmList {	@include elemWidth(1124);
}
#AlarmsContent_AlarmList {	@include elemHeight(205);
}
#AlarmsContent_AlarmList {	z-index: 0;
}
#AlarmsContent_messg {	@include elemWidth(300);
}
#AlarmsContent_messg {	z-index: 0;
}
#AlarmsContent_names {	@include elemWidth(300);
}
#AlarmsContent_names {	z-index: 1;
}
#AlarmsContent_timestampp {	@include elemWidth(300);
}
#AlarmsContent_timestampp {	z-index: 2;
}
#AlarmsContent_cmdAcknowledge {	@include elemTop(542);
}
#AlarmsContent_cmdAcknowledge {	@include elemLeft(83);
}
#AlarmsContent_cmdAcknowledge {	@include elemAutoWidth(240);
}
#AlarmsContent_cmdAcknowledge {	@include elemAutoHeight(62);
}
#AlarmsContent_cmdAcknowledge {	z-index: 1;
}
#AlarmsContent_cmdAcknowledge {	img {
		@include imageHeight(50);
	}
}
#AlarmsContent_cmdAcknowledge {	svg {
		@include imageHeight(50);
	}
}
#AlarmsContent_cmdAcknowledge {	img {
		@include imageWidth(50);
	}
}
#AlarmsContent_cmdAcknowledge {	svg {
		@include imageWidth(50);
	}
}
#AlarmsContent_cmdAcknowledge {	&:not(.active):not(.checked) {
		border-width: 2px;
	}
}
#AlarmsContent_cmdAcknowledge {	&.disabled {
		border-width: 2px;
	}
}
#AlarmsContent_cmdAcknowledge {	@include border-radius(5px);
}
#AlarmsContent_cmdAcknowledge {	&:not(.disabled):not(.active):not(.checked) {
		background-color: rgba(249, 248, 248, 1);
	}
}
#AlarmsContent_cmdAcknowledge {	&:not(.disabled):not(.active):not(.checked) {
		border-color: rgba(170, 109, 163, 1);
	}
}
#AlarmsContent_cmdAcknowledge {	span {
		font-size: 18px;
	}
}
#AlarmsContent_cmdAcknowledge {	span {
		@include font-weight-bold(true);
	}
}
#AlarmsContent_cmdAckAll {	@include elemTop(542);
}
#AlarmsContent_cmdAckAll {	@include elemLeft(693);
}
#AlarmsContent_cmdAckAll {	@include elemAutoWidth(240);
}
#AlarmsContent_cmdAckAll {	@include elemAutoHeight(62);
}
#AlarmsContent_cmdAckAll {	z-index: 2;
}
#AlarmsContent_cmdAckAll {	img {
		@include imageHeight(50);
	}
}
#AlarmsContent_cmdAckAll {	svg {
		@include imageHeight(50);
	}
}
#AlarmsContent_cmdAckAll {	img {
		@include imageWidth(50);
	}
}
#AlarmsContent_cmdAckAll {	svg {
		@include imageWidth(50);
	}
}
#AlarmsContent_cmdAckAll {	@include border-radius(5px);
}
#AlarmsContent_cmdAckAll {	&:not(.disabled):not(.active):not(.checked) {
		border-color: rgba(170, 109, 163, 1);
	}
}
#AlarmsContent_cmdAckAll {	span {
		font-size: 16px;
	}
}
#AlarmsContent_cmdAckAll {	span {
		@include font-weight-bold(true);
	}
}
#AlarmsContent_txtactAlarms {	@include elemAutoHeight(30);
}
#AlarmsContent_txtactAlarms {	@include elemTop(465);
}
#AlarmsContent_txtactAlarms {	@include elemLeft(17);
}
#AlarmsContent_txtactAlarms {	@include elemAutoWidth(139);
}
#AlarmsContent_txtactAlarms {	z-index: 3;
}
#AlarmsContent_txtactAlarms {	@include text-alignment-all('left');
}
#AlarmsContent_txtpendingalrms {	@include elemAutoHeight(30);
}
#AlarmsContent_txtpendingalrms {	@include elemTop(465);
}
#AlarmsContent_txtpendingalrms {	@include elemLeft(380);
}
#AlarmsContent_txtpendingalrms {	@include elemAutoWidth(139);
}
#AlarmsContent_txtpendingalrms {	z-index: 4;
}
#AlarmsContent_txtpendingalrms {	@include text-alignment-all('left');
}
#AlarmsContent_actalrmsNO {	@include elemAutoHeight(30);
}
#AlarmsContent_actalrmsNO {	@include elemTop(465);
}
#AlarmsContent_actalrmsNO {	@include elemLeft(206);
}
#AlarmsContent_actalrmsNO {	@include elemAutoWidth(60);
}
#AlarmsContent_actalrmsNO {	z-index: 5;
}
#AlarmsContent_actalrmsNO {	@include border-radius(4px);
}
#AlarmsContent_actalrmsNO {	input {
		@include text-alignment(center);
	}
}
#AlarmsContent_PndAlarmsNO {	@include elemAutoHeight(30);
}
#AlarmsContent_PndAlarmsNO {	@include elemTop(465);
}
#AlarmsContent_PndAlarmsNO {	@include elemLeft(570);
}
#AlarmsContent_PndAlarmsNO {	@include elemAutoWidth(60);
}
#AlarmsContent_PndAlarmsNO {	z-index: 6;
}
#AlarmsContent_PndAlarmsNO {	@include border-radius(4px);
}
#AlarmsContent_PndAlarmsNO {	input {
		@include text-alignment(center);
	}
}
