@import "mixins.scss";
#AxCtrlContent_txeterreest {	@include elemAutoHeight(30);
}
#AxCtrlContent_txeterreest {	@include elemTop(41);
}
#AxCtrlContent_txeterreest {	@include elemLeft(360);
}
#AxCtrlContent_txeterreest {	@include elemAutoWidth(148);
}
#AxCtrlContent_txeterreest {	z-index: 0;
}
#AxCtrlContent_txeterreest {	font-size: 15px;
}
#AxCtrlContent_txeterreest {	@include font-weight-bold(true);
}
#AxCtrlContent_txthom {	@include elemAutoHeight(30);
}
#AxCtrlContent_txthom {	@include elemTop(161);
}
#AxCtrlContent_txthom {	@include elemLeft(360);
}
#AxCtrlContent_txthom {	@include elemAutoWidth(148);
}
#AxCtrlContent_txthom {	z-index: 1;
}
#AxCtrlContent_txthom {	font-size: 15px;
}
#AxCtrlContent_txthom {	@include font-weight-bold(true);
}
#AxCtrlContent_textenable {	@include elemAutoHeight(30);
}
#AxCtrlContent_textenable {	@include elemTop(101);
}
#AxCtrlContent_textenable {	@include elemLeft(360);
}
#AxCtrlContent_textenable {	@include elemAutoWidth(148);
}
#AxCtrlContent_textenable {	z-index: 2;
}
#AxCtrlContent_textenable {	font-size: 15px;
}
#AxCtrlContent_textenable {	@include font-weight-bold(true);
}
#AxCtrlContent_txterrreset {	@include elemAutoHeight(30);
}
#AxCtrlContent_txterrreset {	@include elemTop(239);
}
#AxCtrlContent_txterrreset {	@include elemLeft(354);
}
#AxCtrlContent_txterrreset {	@include elemAutoWidth(148);
}
#AxCtrlContent_txterrreset {	z-index: 3;
}
#AxCtrlContent_txterrreset {	font-size: 15px;
}
#AxCtrlContent_txterrreset {	@include font-weight-bold(true);
}
#AxCtrlContent_txthome {	@include elemAutoHeight(30);
}
#AxCtrlContent_txthome {	@include elemTop(359);
}
#AxCtrlContent_txthome {	@include elemLeft(354);
}
#AxCtrlContent_txthome {	@include elemAutoWidth(148);
}
#AxCtrlContent_txthome {	z-index: 4;
}
#AxCtrlContent_txthome {	font-size: 15px;
}
#AxCtrlContent_txthome {	@include font-weight-bold(true);
}
#AxCtrlContent_txtenable {	@include elemAutoHeight(30);
}
#AxCtrlContent_txtenable {	@include elemTop(299);
}
#AxCtrlContent_txtenable {	@include elemLeft(354);
}
#AxCtrlContent_txtenable {	@include elemAutoWidth(148);
}
#AxCtrlContent_txtenable {	z-index: 5;
}
#AxCtrlContent_txtenable {	font-size: 15px;
}
#AxCtrlContent_txtenable {	@include font-weight-bold(true);
}
#AxCtrlContent_errResetTB {	@include elemTop(29);
}
#AxCtrlContent_errResetTB {	@include elemLeft(577);
}
#AxCtrlContent_errResetTB {	@include elemAutoWidth(72);
}
#AxCtrlContent_errResetTB {	@include elemAutoHeight(52);
}
#AxCtrlContent_errResetTB {	z-index: 6;
}
#AxCtrlContent_errResetTB {	@include border-radius(10px);
}
#AxCtrlContent_errResetTB {	&:not(.disabled):not(.active):not(.checked) {
		background-color: rgba(255, 128, 0, 1);
	}
}
#AxCtrlContent_errResetTB {	&:not(.disabled):not(.checked) {
		border-color: rgba(0, 0, 0, 1);
	}
}
#AxCtrlContent_errResetTB {	&.checked:not(.active):not(.disabled) {
		background-color: rgba(255, 255, 255, 1);
	}
}
#AxCtrlContent_enableTB {	@include elemTop(89);
}
#AxCtrlContent_enableTB {	@include elemLeft(577);
}
#AxCtrlContent_enableTB {	@include elemAutoWidth(72);
}
#AxCtrlContent_enableTB {	@include elemAutoHeight(52);
}
#AxCtrlContent_enableTB {	z-index: 7;
}
#AxCtrlContent_enableTB {	@include border-radius(10px);
}
#AxCtrlContent_enableTB {	&:not(.disabled):not(.active):not(.checked) {
		background-color: rgba(255, 128, 0, 1);
	}
}
#AxCtrlContent_enableTB {	&:not(.disabled):not(.checked) {
		border-color: rgba(0, 0, 0, 1);
	}
}
#AxCtrlContent_enableTB {	&.checked:not(.active):not(.disabled) {
		background-color: rgba(255, 255, 255, 1);
	}
}
#AxCtrlContent_homeTB {	@include elemTop(149);
}
#AxCtrlContent_homeTB {	@include elemLeft(577);
}
#AxCtrlContent_homeTB {	@include elemAutoWidth(72);
}
#AxCtrlContent_homeTB {	@include elemAutoHeight(52);
}
#AxCtrlContent_homeTB {	z-index: 8;
}
#AxCtrlContent_homeTB {	@include border-radius(10px);
}
#AxCtrlContent_homeTB {	&:not(.disabled):not(.active):not(.checked) {
		background-color: rgba(255, 128, 0, 1);
	}
}
#AxCtrlContent_homeTB {	&:not(.disabled):not(.checked) {
		border-color: rgba(0, 0, 0, 1);
	}
}
#AxCtrlContent_homeTB {	&.checked:not(.active):not(.disabled) {
		background-color: rgba(255, 255, 255, 1);
	}
}
#AxCtrlContent_txtCA {	@include elemAutoHeight(30);
}
#AxCtrlContent_txtCA {	@include elemTop(115);
}
#AxCtrlContent_txtCA {	@include elemLeft(132);
}
#AxCtrlContent_txtCA {	@include elemAutoWidth(132);
}
#AxCtrlContent_txtCA {	z-index: 9;
}
#AxCtrlContent_txtCA {	@include text-alignment-all('center');
}
#AxCtrlContent_txtCA {	font-size: 18px;
}
#AxCtrlContent_txtCA {	@include font-weight-bold(true);
}
#AxCtrlContent_txtconvax {	@include elemAutoHeight(30);
}
#AxCtrlContent_txtconvax {	@include elemTop(286);
}
#AxCtrlContent_txtconvax {	@include elemLeft(130);
}
#AxCtrlContent_txtconvax {	@include elemAutoWidth(155);
}
#AxCtrlContent_txtconvax {	z-index: 10;
}
#AxCtrlContent_txtconvax {	@include text-alignment-all('center');
}
#AxCtrlContent_txtconvax {	font-size: 18px;
}
#AxCtrlContent_txtconvax {	@include font-weight-bold(true);
}
#AxCtrlContent_errResetTBCA {	@include elemTop(229);
}
#AxCtrlContent_errResetTBCA {	@include elemLeft(575);
}
#AxCtrlContent_errResetTBCA {	@include elemAutoWidth(72);
}
#AxCtrlContent_errResetTBCA {	@include elemAutoHeight(52);
}
#AxCtrlContent_errResetTBCA {	z-index: 11;
}
#AxCtrlContent_errResetTBCA {	@include border-radius(10px);
}
#AxCtrlContent_errResetTBCA {	&:not(.disabled):not(.active):not(.checked) {
		background-color: rgba(255, 128, 0, 1);
	}
}
#AxCtrlContent_errResetTBCA {	&:not(.disabled):not(.checked) {
		border-color: rgba(0, 0, 0, 1);
	}
}
#AxCtrlContent_errResetTBCA {	&.checked:not(.active):not(.disabled) {
		background-color: rgba(255, 255, 255, 1);
	}
}
#AxCtrlContent_enableTBCA {	@include elemTop(289);
}
#AxCtrlContent_enableTBCA {	@include elemLeft(575);
}
#AxCtrlContent_enableTBCA {	@include elemAutoWidth(72);
}
#AxCtrlContent_enableTBCA {	@include elemAutoHeight(52);
}
#AxCtrlContent_enableTBCA {	z-index: 12;
}
#AxCtrlContent_enableTBCA {	@include border-radius(10px);
}
#AxCtrlContent_enableTBCA {	&:not(.disabled):not(.active):not(.checked) {
		background-color: rgba(255, 128, 0, 1);
	}
}
#AxCtrlContent_enableTBCA {	&:not(.disabled):not(.checked) {
		border-color: rgba(0, 0, 0, 1);
	}
}
#AxCtrlContent_enableTBCA {	&.checked:not(.active):not(.disabled) {
		background-color: rgba(255, 255, 255, 1);
	}
}
#AxCtrlContent_homeTBCA {	@include elemTop(349);
}
#AxCtrlContent_homeTBCA {	@include elemLeft(575);
}
#AxCtrlContent_homeTBCA {	@include elemAutoWidth(72);
}
#AxCtrlContent_homeTBCA {	@include elemAutoHeight(52);
}
#AxCtrlContent_homeTBCA {	z-index: 13;
}
#AxCtrlContent_homeTBCA {	@include border-radius(10px);
}
#AxCtrlContent_homeTBCA {	&:not(.disabled):not(.active):not(.checked) {
		background-color: rgba(255, 128, 0, 1);
	}
}
#AxCtrlContent_homeTBCA {	&:not(.disabled):not(.checked) {
		border-color: rgba(0, 0, 0, 1);
	}
}
#AxCtrlContent_homeTBCA {	&.checked:not(.active):not(.disabled) {
		background-color: rgba(255, 255, 255, 1);
	}
}
