@import "mixins.scss";
#CutterDialog_ButtonBar1 {	@include elemTop(56);
}
#CutterDialog_ButtonBar1 {	@include elemLeft(86);
}
#CutterDialog_ButtonBar1 {	@include elemWidth(228);
}
#CutterDialog_ButtonBar1 {	@include elemHeight(88);
}
#CutterDialog_ButtonBar1 {	z-index: 0;
}
#CutterDialog_btnManualMode {	@include elemAutoWidth(100);
}
#CutterDialog_btnManualMode {	@include elemTop(8);
}
#CutterDialog_btnManualMode {	@include elemLeft(120);
}
#CutterDialog_btnManualMode {	@include elemAutoHeight(64);
}
#CutterDialog_btnManualMode {	z-index: 0;
}
#CutterDialog_btnManualMode {	img {
		@include imageHeight(35);
	}
}
#CutterDialog_btnManualMode {	svg {
		@include imageHeight(35);
	}
}
#CutterDialog_btnManualMode {	img {
		@include imageWidth(35);
	}
}
#CutterDialog_btnManualMode {	svg {
		@include imageWidth(35);
	}
}
#CutterDialog_btnManualMode {	@include border-radius(10px);
}
#CutterDialog_btnManualMode {	&:not(.disabled):not(.active):not(.checked) {
		background-color: rgba(192, 255, 255, 1);
	}
}
#CutterDialog_btnManualMode {	&:not(.disabled):not(.checked) {
		border-color: rgba(0, 0, 0, 1);
	}
}
#CutterDialog_btnManualMode {	span {
		font-size: 15px;
	}
}
#CutterDialog_btnManualMode {	span {
		@include font-weight-bold(true);
	}
}
#CutterDialog_btnManualMode {	&.checked:not(.active):not(.disabled) {
		background-color: rgba(0, 192, 192, 1);
	}
}
#CutterDialog_btnSingleCutM {	@include elemAutoWidth(100);
}
#CutterDialog_btnSingleCutM {	@include elemTop(8);
}
#CutterDialog_btnSingleCutM {	@include elemLeft(8);
}
#CutterDialog_btnSingleCutM {	@include elemAutoHeight(64);
}
#CutterDialog_btnSingleCutM {	z-index: 1;
}
#CutterDialog_btnSingleCutM {	img {
		@include imageHeight(35);
	}
}
#CutterDialog_btnSingleCutM {	svg {
		@include imageHeight(35);
	}
}
#CutterDialog_btnSingleCutM {	img {
		@include imageWidth(35);
	}
}
#CutterDialog_btnSingleCutM {	svg {
		@include imageWidth(35);
	}
}
#CutterDialog_btnSingleCutM {	@include border-radius(10px);
}
#CutterDialog_btnSingleCutM {	&:not(.disabled):not(.active):not(.checked) {
		background-color: rgba(192, 255, 255, 1);
	}
}
#CutterDialog_btnSingleCutM {	&:not(.disabled):not(.checked) {
		border-color: rgba(0, 0, 0, 1);
	}
}
#CutterDialog_btnSingleCutM {	span {
		font-size: 15px;
	}
}
#CutterDialog_btnSingleCutM {	span {
		@include font-weight-bold(true);
	}
}
#CutterDialog_btnSingleCutM {	&.checked:not(.active):not(.disabled) {
		background-color: rgba(0, 192, 192, 1);
	}
}
#CutterDialog_btnConfirmMode {	@include elemAutoWidth(100);
}
#CutterDialog_btnConfirmMode {	@include elemTop(184);
}
#CutterDialog_btnConfirmMode {	@include elemLeft(158);
}
#CutterDialog_btnConfirmMode {	@include elemAutoHeight(60);
}
#CutterDialog_btnConfirmMode {	z-index: 1;
}
#CutterDialog_btnConfirmMode {	@include border-radius(10px);
}
#CutterDialog_btnConfirmMode {	&:not(.disabled):not(.active):not(.checked) {
		background-color: rgba(255, 255, 255, 1);
	}
}
#CutterDialog_btnConfirmMode {	&:not(.disabled):not(.active):not(.checked) {
		border-color: rgba(0, 0, 0, 1);
	}
}
#CutterDialog_btnConfirmMode {	span {
		font-size: 15px;
	}
}
#CutterDialog_btnConfirmMode {	span {
		@include font-weight-bold(true);
	}
}
