@import "mixins.scss";
#HomeContent_ButtonCmd {	@include elemTop(8);
}
#HomeContent_ButtonCmd {	@include elemLeft(463);
}
#HomeContent_ButtonCmd {	@include elemWidth(208);
}
#HomeContent_ButtonCmd {	@include elemHeight(139);
}
#HomeContent_ButtonCmd {	z-index: 0;
}
#HomeContent_Start {	@include elemTop(1);
}
#HomeContent_Start {	@include elemLeft(44);
}
#HomeContent_Start {	@include elemAutoWidth(120);
}
#HomeContent_Start {	@include elemAutoHeight(59);
}
#HomeContent_Start {	z-index: 0;
}
#HomeContent_Start {	@include border-radius(5px);
}
#HomeContent_Start {	&:not(.disabled):not(.active):not(.checked) {
		background-color: rgba(128, 255, 128, 1);
	}
}
#HomeContent_Start {	&:not(.disabled):not(.checked) {
		border-color: rgba(0, 0, 0, 1);
	}
}
#HomeContent_Start {	span {
		font-size: 18px;
	}
}
#HomeContent_Start {	span {
		font-family: Arial Unicode;
	}
}
#HomeContent_Start {	span {
		@include font-weight-bold(true);
	}
}
#HomeContent_Start {	&.checked:not(.active):not(.disabled) {
		background-color: rgba(128, 255, 128, 1);
	}
}
#HomeContent_Stop {	@include elemTop(74);
}
#HomeContent_Stop {	@include elemLeft(44);
}
#HomeContent_Stop {	@include elemAutoWidth(121);
}
#HomeContent_Stop {	@include elemAutoHeight(58);
}
#HomeContent_Stop {	z-index: 1;
}
#HomeContent_Stop {	@include border-radius(5px);
}
#HomeContent_Stop {	&:not(.disabled):not(.active):not(.checked) {
		background-color: rgba(255, 192, 192, 1);
	}
}
#HomeContent_Stop {	&:not(.disabled):not(.checked) {
		border-color: rgba(0, 0, 0, 1);
	}
}
#HomeContent_Stop {	span {
		font-size: 18px;
	}
}
#HomeContent_Stop {	span {
		font-family: Arial Unicode;
	}
}
#HomeContent_Stop {	span {
		@include font-weight-bold(true);
	}
}
#HomeContent_Stop {	&.checked:not(.active):not(.disabled) {
		background-color: rgba(255, 0, 0, 1);
	}
}
#HomeContent_Conveyor {	@include elemTop(28);
}
#HomeContent_Conveyor {	@include elemLeft(790);
}
#HomeContent_Conveyor {	@include elemAutoWidth(57);
}
#HomeContent_Conveyor {	@include elemAutoHeight(478);
}
#HomeContent_Conveyor {	z-index: 1;
}
#HomeContent_Conveyor {	border-width: 3px;
}
#HomeContent_Conveyor {	@include border-radius(7px);
}
#HomeContent_Conveyor {	background-color: rgba(153, 180, 209, 1);
}
#HomeContent_Conveyor {	border-color: rgba(0, 0, 0, 1);
}
#HomeContent_Conveyor {	&:before {
		border-color: rgba(0, 0, 0, 1);
	}
}
#HomeContent_Conveyor {	&:after {
		border-color: rgba(0, 0, 0, 1);
	}
}
#HomeContent_Conveyor {	border-style: dashed;
}
#HomeContent_Conveyor {	&:before {
		border-style: dashed;
	}
}
#HomeContent_Conveyor {	&:after {
		border-style: dashed;
	}
}
#HomeContent_Conveyortxt {	@include elemTop(248);
}
#HomeContent_Conveyortxt {	@include elemLeft(700);
}
#HomeContent_Conveyortxt {	@include elemAutoWidth(240);
}
#HomeContent_Conveyortxt {	@include elemAutoHeight(33);
}
#HomeContent_Conveyortxt {	z-index: 2;
}
#HomeContent_Conveyortxt {	@include text-alignment-all('center');
}
#HomeContent_Conveyortxt {	@include rotate(270deg);
}
#HomeContent_Conveyortxt {	font-size: 20px;
}
#HomeContent_printmarkclr {	@include elemAutoWidth(80);
}
#HomeContent_printmarkclr {	@include elemTop(77);
}
#HomeContent_printmarkclr {	@include elemLeft(776);
}
#HomeContent_printmarkclr {	@include elemAutoHeight(7);
}
#HomeContent_printmarkclr {	z-index: 3;
}
#HomeContent_printmarkclr {	background-color: rgba(0, 255, 0, 1);
}
#HomeContent_printmarkclr {	border-style: none;
}
#HomeContent_printmarkclr {	&:before {
		border-style: none;
	}
}
#HomeContent_printmarkclr {	&:after {
		border-style: none;
	}
}
#HomeContent_printmarkclr {	& span {
		color: rgba(0, 0, 0, 1);
	}
}
#HomeContent_printDetect {	@include elemAutoHeight(30);
}
#HomeContent_printDetect {	@include elemTop(66);
}
#HomeContent_printDetect {	@include elemLeft(865);
}
#HomeContent_printDetect {	@include elemAutoWidth(190);
}
#HomeContent_printDetect {	z-index: 4;
}
#HomeContent_printDetect {	@include text-alignment-all('center');
}
#HomeContent_printDetect {	@include font-weight-bold(true);
}
#HomeContent_Cutting {	@include elemAutoWidth(80);
}
#HomeContent_Cutting {	@include elemTop(434);
}
#HomeContent_Cutting {	@include elemLeft(781);
}
#HomeContent_Cutting {	@include elemAutoHeight(7);
}
#HomeContent_Cutting {	z-index: 5;
}
#HomeContent_Cutting {	background-color: rgba(255, 0, 0, 1);
}
#HomeContent_Cutting {	border-style: none;
}
#HomeContent_Cutting {	&:before {
		border-style: none;
	}
}
#HomeContent_Cutting {	&:after {
		border-style: none;
	}
}
#HomeContent_Cutting {	& span {
		color: rgba(0, 0, 0, 1);
	}
}
#HomeContent_CutPosn {	@include elemAutoWidth(80);
}
#HomeContent_CutPosn {	@include elemAutoHeight(30);
}
#HomeContent_CutPosn {	@include elemTop(422);
}
#HomeContent_CutPosn {	@include elemLeft(689);
}
#HomeContent_CutPosn {	z-index: 6;
}
#HomeContent_CutPosn {	@include font-weight-bold(true);
}
#HomeContent_SliderSlavePos2 {	@include elemTop(346);
}
#HomeContent_SliderSlavePos2 {	@include elemLeft(892);
}
#HomeContent_SliderSlavePos2 {	@include elemWidth(184);
}
#HomeContent_SliderSlavePos2 {	@include elemHeight(184);
}
#HomeContent_SliderSlavePos2 {	z-index: 7;
}
#HomeContent_SliderSlavePos2 {	border-style: hidden;
}
#HomeContent_SliderSlavePos2 {	.RadialSliderGroup .thumb .sliderThumb:not(.disabled) {
		fill: rgba(255, 0, 0, 1);
	}
}
#HomeContent_SliderSlavePos1 {	@include elemTop(346);
}
#HomeContent_SliderSlavePos1 {	@include elemLeft(894);
}
#HomeContent_SliderSlavePos1 {	@include elemWidth(184);
}
#HomeContent_SliderSlavePos1 {	@include elemHeight(184);
}
#HomeContent_SliderSlavePos1 {	z-index: 8;
}
#HomeContent_SliderSlavePos1 {	border-style: hidden;
}
#HomeContent_SliderSlavePos1 {	.RadialSliderGroup .thumb .sliderThumb:not(.disabled) {
		fill: rgba(0, 255, 0, 1);
	}
}
#HomeContent_txtABL {	@include elemAutoHeight(30);
}
#HomeContent_txtABL {	@include elemTop(561);
}
#HomeContent_txtABL {	@include elemLeft(5);
}
#HomeContent_txtABL {	@include elemAutoWidth(188);
}
#HomeContent_txtABL {	z-index: 9;
}
#HomeContent_txtABL {	@include text-alignment-all('left');
}
#HomeContent_txtABL {	font-size: 17px;
}
#HomeContent_txtlastBL {	@include elemAutoHeight(30);
}
#HomeContent_txtlastBL {	@include elemTop(636);
}
#HomeContent_txtlastBL {	@include elemLeft(5);
}
#HomeContent_txtlastBL {	@include elemAutoWidth(188);
}
#HomeContent_txtlastBL {	z-index: 10;
}
#HomeContent_txtlastBL {	@include text-alignment-all('left');
}
#HomeContent_txtlastBL {	font-size: 17px;
}
#HomeContent_txtactspd {	@include elemAutoHeight(30);
}
#HomeContent_txtactspd {	@include elemTop(485);
}
#HomeContent_txtactspd {	@include elemLeft(332);
}
#HomeContent_txtactspd {	@include elemAutoWidth(156);
}
#HomeContent_txtactspd {	z-index: 11;
}
#HomeContent_txtactspd {	@include text-alignment-all('left');
}
#HomeContent_txtactspd {	font-size: 17px;
}
#HomeContent_txtpwp {	@include elemTop(629);
}
#HomeContent_txtpwp {	@include elemLeft(330);
}
#HomeContent_txtpwp {	@include elemAutoWidth(173);
}
#HomeContent_txtpwp {	@include elemAutoHeight(41);
}
#HomeContent_txtpwp {	z-index: 12;
}
#HomeContent_txtpwp {	@include text-alignment-all('left');
}
#HomeContent_txtpwp {	font-size: 17px;
}
#HomeContent_outAvgBagLn {	@include elemTop(552);
}
#HomeContent_outAvgBagLn {	@include elemLeft(197);
}
#HomeContent_outAvgBagLn {	@include elemAutoWidth(116);
}
#HomeContent_outAvgBagLn {	@include elemAutoHeight(48);
}
#HomeContent_outAvgBagLn {	z-index: 13;
}
#HomeContent_outAvgBagLn {	@include border-radius(5px);
}
#HomeContent_outAvgBagLn {	input {
		@include text-alignment(left);
	}
}
#HomeContent_outAvgBagLn {	input {
		font-size: 16px;
	}
}
#HomeContent_outAvgBagLn {	.breaseNumericOutput_unit {
		font-size: 11px;
	}
}
#HomeContent_outlastBagLn {	@include elemTop(627);
}
#HomeContent_outlastBagLn {	@include elemLeft(197);
}
#HomeContent_outlastBagLn {	@include elemAutoWidth(116);
}
#HomeContent_outlastBagLn {	@include elemAutoHeight(48);
}
#HomeContent_outlastBagLn {	z-index: 14;
}
#HomeContent_outlastBagLn {	@include border-radius(5px);
}
#HomeContent_outlastBagLn {	input {
		@include text-alignment(left);
	}
}
#HomeContent_outlastBagLn {	input {
		font-size: 16px;
	}
}
#HomeContent_outlastBagLn {	.breaseNumericOutput_unit {
		font-size: 11px;
	}
}
#HomeContent_outValidPM {	@include elemTop(552);
}
#HomeContent_outValidPM {	@include elemLeft(508);
}
#HomeContent_outValidPM {	@include elemAutoWidth(116);
}
#HomeContent_outValidPM {	@include elemAutoHeight(48);
}
#HomeContent_outValidPM {	z-index: 15;
}
#HomeContent_outValidPM {	@include border-radius(5px);
}
#HomeContent_outValidPM {	input {
		font-size: 16px;
	}
}
#HomeContent_outValidPM {	.breaseNumericOutput_unit {
		font-size: 11px;
	}
}
#HomeContent_outPWoPM {	@include elemTop(627);
}
#HomeContent_outPWoPM {	@include elemLeft(508);
}
#HomeContent_outPWoPM {	@include elemAutoWidth(116);
}
#HomeContent_outPWoPM {	@include elemAutoHeight(48);
}
#HomeContent_outPWoPM {	z-index: 16;
}
#HomeContent_outPWoPM {	@include border-radius(5px);
}
#HomeContent_outPWoPM {	input {
		font-size: 16px;
	}
}
#HomeContent_outPWoPM {	.breaseNumericOutput_unit {
		font-size: 11px;
	}
}
#HomeContent_txtPowerON {	@include elemAutoHeight(30);
}
#HomeContent_txtPowerON {	@include elemTop(16);
}
#HomeContent_txtPowerON {	@include elemLeft(186);
}
#HomeContent_txtPowerON {	@include elemAutoWidth(128);
}
#HomeContent_txtPowerON {	z-index: 17;
}
#HomeContent_txtPowerON {	@include text-alignment-all('left');
}
#HomeContent_txtPowerON {	font-size: 17px;
}
#HomeContent_txtishomed {	@include elemAutoHeight(30);
}
#HomeContent_txtishomed {	@include elemTop(68);
}
#HomeContent_txtishomed {	@include elemLeft(186);
}
#HomeContent_txtishomed {	@include elemAutoWidth(128);
}
#HomeContent_txtishomed {	z-index: 18;
}
#HomeContent_txtishomed {	@include text-alignment-all('left');
}
#HomeContent_txtishomed {	font-size: 17px;
}
#HomeContent_txterror {	@include elemAutoHeight(30);
}
#HomeContent_txterror {	@include elemTop(120);
}
#HomeContent_txterror {	@include elemLeft(186);
}
#HomeContent_txterror {	@include elemAutoWidth(128);
}
#HomeContent_txterror {	z-index: 19;
}
#HomeContent_txterror {	@include text-alignment-all('left');
}
#HomeContent_txterror {	font-size: 17px;
}
#HomeContent_txtinsync {	@include elemAutoHeight(30);
}
#HomeContent_txtinsync {	@include elemTop(172);
}
#HomeContent_txtinsync {	@include elemLeft(186);
}
#HomeContent_txtinsync {	@include elemAutoWidth(128);
}
#HomeContent_txtinsync {	z-index: 20;
}
#HomeContent_txtinsync {	@include text-alignment-all('left');
}
#HomeContent_txtinsync {	font-size: 17px;
}
#HomeContent_poweronIL {	@include elemTop(19);
}
#HomeContent_poweronIL {	@include elemLeft(337);
}
#HomeContent_poweronIL {	@include elemWidth(24);
}
#HomeContent_poweronIL {	@include elemHeight(21);
}
#HomeContent_poweronIL {	z-index: 21;
}
#HomeContent_ishomedIL {	@include elemTop(71);
}
#HomeContent_ishomedIL {	@include elemLeft(337);
}
#HomeContent_ishomedIL {	@include elemWidth(24);
}
#HomeContent_ishomedIL {	@include elemHeight(21);
}
#HomeContent_ishomedIL {	z-index: 22;
}
#HomeContent_errorIL {	@include elemTop(123);
}
#HomeContent_errorIL {	@include elemLeft(337);
}
#HomeContent_errorIL {	@include elemWidth(24);
}
#HomeContent_errorIL {	@include elemHeight(21);
}
#HomeContent_errorIL {	z-index: 23;
}
#HomeContent_insyncIL {	@include elemTop(175);
}
#HomeContent_insyncIL {	@include elemLeft(337);
}
#HomeContent_insyncIL {	@include elemWidth(24);
}
#HomeContent_insyncIL {	@include elemHeight(21);
}
#HomeContent_insyncIL {	z-index: 24;
}
#HomeContent_txtcutaxis {	@include elemAutoHeight(30);
}
#HomeContent_txtcutaxis {	@include elemTop(106);
}
#HomeContent_txtcutaxis {	@include elemLeft(6);
}
#HomeContent_txtcutaxis {	@include elemAutoWidth(132);
}
#HomeContent_txtcutaxis {	z-index: 25;
}
#HomeContent_txtcutaxis {	@include text-alignment-all('center');
}
#HomeContent_txtcutaxis {	font-size: 18px;
}
#HomeContent_txtcutaxis {	@include font-weight-bold(true);
}
#HomeContent_txtconvaxis {	@include elemAutoHeight(30);
}
#HomeContent_txtconvaxis {	@include elemTop(343);
}
#HomeContent_txtconvaxis {	@include elemLeft(6);
}
#HomeContent_txtconvaxis {	@include elemAutoWidth(155);
}
#HomeContent_txtconvaxis {	z-index: 26;
}
#HomeContent_txtconvaxis {	@include text-alignment-all('center');
}
#HomeContent_txtconvaxis {	font-size: 18px;
}
#HomeContent_txtconvaxis {	@include font-weight-bold(true);
}
#HomeContent_txtsetspeed {	@include elemAutoHeight(30);
}
#HomeContent_txtsetspeed {	@include elemTop(485);
}
#HomeContent_txtsetspeed {	@include elemLeft(5);
}
#HomeContent_txtsetspeed {	@include elemAutoWidth(188);
}
#HomeContent_txtsetspeed {	z-index: 27;
}
#HomeContent_txtsetspeed {	font-size: 17px;
}
#HomeContent_txtvalidpm {	@include elemAutoHeight(30);
}
#HomeContent_txtvalidpm {	@include elemTop(561);
}
#HomeContent_txtvalidpm {	@include elemLeft(332);
}
#HomeContent_txtvalidpm {	@include elemAutoWidth(156);
}
#HomeContent_txtvalidpm {	z-index: 28;
}
#HomeContent_txtvalidpm {	font-size: 17px;
}
#HomeContent_outActSpeed {	@include elemTop(476);
}
#HomeContent_outActSpeed {	@include elemLeft(508);
}
#HomeContent_outActSpeed {	@include elemAutoWidth(116);
}
#HomeContent_outActSpeed {	@include elemAutoHeight(48);
}
#HomeContent_outActSpeed {	z-index: 29;
}
#HomeContent_outActSpeed {	@include border-radius(5px);
}
#HomeContent_outActSpeed {	input {
		@include text-alignment(left);
	}
}
#HomeContent_outActSpeed {	input {
		font-size: 16px;
	}
}
#HomeContent_outActSpeed {	.breaseNumericOutput_unit {
		font-size: 11px;
	}
}
#HomeContent_inSetSpeed {	@include elemTop(476);
}
#HomeContent_inSetSpeed {	@include elemLeft(197);
}
#HomeContent_inSetSpeed {	@include elemAutoWidth(116);
}
#HomeContent_inSetSpeed {	@include elemAutoHeight(48);
}
#HomeContent_inSetSpeed {	z-index: 30;
}
#HomeContent_inSetSpeed {	@include border-radius(5px);
}
#HomeContent_inSetSpeed {	&:not(.disabled):not(.active) {
		background-color: rgba(255, 224, 192, 1);
	}
}
#HomeContent_inSetSpeed {	input {
		@include text-alignment(left);
	}
}
#HomeContent_inSetSpeed {	input {
		font-size: 16px;
	}
}
#HomeContent_inSetSpeed {	.breaseNumericInput_unit {
		font-size: 11px;
	}
}
#HomeContent_btnDisableCutter {	@include elemTop(179);
}
#HomeContent_btnDisableCutter {	@include elemLeft(506);
}
#HomeContent_btnDisableCutter {	@include elemAutoWidth(128);
}
#HomeContent_btnDisableCutter {	@include elemAutoHeight(56);
}
#HomeContent_btnDisableCutter {	z-index: 31;
}
#HomeContent_btnDisableCutter {	@include border-radius(10px);
}
#HomeContent_btnDisableCutter {	&:not(.disabled):not(.active):not(.checked) {
		background-color: rgba(255, 255, 255, 1);
	}
}
#HomeContent_btnDisableCutter {	&:not(.disabled):not(.checked) {
		border-color: rgba(0, 0, 0, 1);
	}
}
#HomeContent_btnDisableCutter {	span {
		font-size: 15px;
	}
}
#HomeContent_btnDisableCutter {	span {
		font-family: Arial Unicode;
	}
}
#HomeContent_btnDisableCutter {	span {
		@include font-weight-bold(true);
	}
}
#HomeContent_btnDisableCutter {	&.checked:not(.active):not(.disabled) {
		background-color: rgba(192, 255, 255, 1);
	}
}
#HomeContent_btnModeChangeBit {	@include elemTop(244);
}
#HomeContent_btnModeChangeBit {	@include elemLeft(506);
}
#HomeContent_btnModeChangeBit {	@include elemAutoWidth(128);
}
#HomeContent_btnModeChangeBit {	@include elemAutoHeight(56);
}
#HomeContent_btnModeChangeBit {	z-index: 32;
}
#HomeContent_btnModeChangeBit {	@include border-radius(10px);
}
#HomeContent_btnModeChangeBit {	&:not(.disabled):not(.active):not(.checked) {
		background-color: rgba(255, 255, 255, 1);
	}
}
#HomeContent_btnModeChangeBit {	&:not(.disabled):not(.checked) {
		border-color: rgba(0, 0, 0, 1);
	}
}
#HomeContent_btnModeChangeBit {	span {
		font-size: 15px;
	}
}
#HomeContent_btnModeChangeBit {	span {
		font-family: Arial Unicode;
	}
}
#HomeContent_btnModeChangeBit {	span {
		@include font-weight-bold(true);
	}
}
#HomeContent_btnModeChangeBit {	&.checked:not(.active):not(.disabled) {
		background-color: rgba(192, 255, 255, 1);
	}
}
#HomeContent_txtpoowero {	@include elemAutoHeight(30);
}
#HomeContent_txtpoowero {	@include elemTop(256);
}
#HomeContent_txtpoowero {	@include elemLeft(190);
}
#HomeContent_txtpoowero {	@include elemAutoWidth(128);
}
#HomeContent_txtpoowero {	z-index: 33;
}
#HomeContent_txtpoowero {	@include text-alignment-all('left');
}
#HomeContent_txtpoowero {	font-size: 17px;
}
#HomeContent_txtishomed2 {	@include elemAutoHeight(30);
}
#HomeContent_txtishomed2 {	@include elemTop(308);
}
#HomeContent_txtishomed2 {	@include elemLeft(190);
}
#HomeContent_txtishomed2 {	@include elemAutoWidth(128);
}
#HomeContent_txtishomed2 {	z-index: 34;
}
#HomeContent_txtishomed2 {	@include text-alignment-all('left');
}
#HomeContent_txtishomed2 {	font-size: 17px;
}
#HomeContent_txterror2 {	@include elemAutoHeight(30);
}
#HomeContent_txterror2 {	@include elemTop(360);
}
#HomeContent_txterror2 {	@include elemLeft(190);
}
#HomeContent_txterror2 {	@include elemAutoWidth(128);
}
#HomeContent_txterror2 {	z-index: 35;
}
#HomeContent_txterror2 {	@include text-alignment-all('left');
}
#HomeContent_txterror2 {	font-size: 17px;
}
#HomeContent_txtrunning {	@include elemAutoHeight(30);
}
#HomeContent_txtrunning {	@include elemTop(412);
}
#HomeContent_txtrunning {	@include elemLeft(190);
}
#HomeContent_txtrunning {	@include elemAutoWidth(128);
}
#HomeContent_txtrunning {	z-index: 36;
}
#HomeContent_txtrunning {	@include text-alignment-all('left');
}
#HomeContent_txtrunning {	font-size: 17px;
}
#HomeContent_poweronILCA {	@include elemTop(260);
}
#HomeContent_poweronILCA {	@include elemLeft(338);
}
#HomeContent_poweronILCA {	@include elemWidth(24);
}
#HomeContent_poweronILCA {	@include elemHeight(21);
}
#HomeContent_poweronILCA {	z-index: 37;
}
#HomeContent_ishomedILCA {	@include elemTop(312);
}
#HomeContent_ishomedILCA {	@include elemLeft(338);
}
#HomeContent_ishomedILCA {	@include elemWidth(24);
}
#HomeContent_ishomedILCA {	@include elemHeight(21);
}
#HomeContent_ishomedILCA {	z-index: 38;
}
#HomeContent_errorILCA {	@include elemTop(364);
}
#HomeContent_errorILCA {	@include elemLeft(338);
}
#HomeContent_errorILCA {	@include elemWidth(24);
}
#HomeContent_errorILCA {	@include elemHeight(21);
}
#HomeContent_errorILCA {	z-index: 39;
}
#HomeContent_btnSelectCutter {	@include elemTop(334);
}
#HomeContent_btnSelectCutter {	@include elemLeft(506);
}
#HomeContent_btnSelectCutter {	@include elemAutoWidth(128);
}
#HomeContent_btnSelectCutter {	@include elemAutoHeight(56);
}
#HomeContent_btnSelectCutter {	z-index: 41;
}
#HomeContent_btnSelectCutter {	@include border-radius(10px);
}
#HomeContent_btnSelectCutter {	&:not(.disabled):not(.active):not(.checked) {
		background-color: rgba(255, 255, 255, 1);
	}
}
#HomeContent_btnSelectCutter {	&:not(.disabled):not(.active):not(.checked) {
		border-color: rgba(0, 0, 0, 1);
	}
}
#HomeContent_btnSelectCutter {	span {
		font-size: 14px;
	}
}
#HomeContent_btnSelectCutter {	span {
		@include font-weight-bold(true);
	}
}
#HomeContent_btnChangeMode {	@include elemTop(402);
}
#HomeContent_btnChangeMode {	@include elemLeft(508);
}
#HomeContent_btnChangeMode {	@include elemAutoWidth(128);
}
#HomeContent_btnChangeMode {	@include elemAutoHeight(56);
}
#HomeContent_btnChangeMode {	z-index: 42;
}
#HomeContent_btnChangeMode {	@include border-radius(10px);
}
#HomeContent_btnChangeMode {	&:not(.disabled):not(.active):not(.checked) {
		background-color: rgba(255, 255, 255, 1);
	}
}
#HomeContent_btnChangeMode {	&:not(.disabled):not(.active):not(.checked) {
		border-color: rgba(0, 0, 0, 1);
	}
}
#HomeContent_btnChangeMode {	span {
		font-size: 14px;
	}
}
#HomeContent_btnChangeMode {	span {
		@include font-weight-bold(true);
	}
}
#HomeContent_insyncILCA {	@include elemTop(416);
}
#HomeContent_insyncILCA {	@include elemLeft(338);
}
#HomeContent_insyncILCA {	@include elemWidth(24);
}
#HomeContent_insyncILCA {	@include elemHeight(21);
}
#HomeContent_insyncILCA {	z-index: 40;
}
#HomeContent_txtStatus {	@include elemAutoHeight(30);
}
#HomeContent_txtStatus {	@include elemTop(546);
}
#HomeContent_txtStatus {	@include elemLeft(654);
}
#HomeContent_txtStatus {	@include elemAutoWidth(432);
}
#HomeContent_txtStatus {	z-index: 43;
}
#HomeContent_ResetTB {	@include elemTop(629);
}
#HomeContent_ResetTB {	@include elemLeft(922);
}
#HomeContent_ResetTB {	@include elemAutoWidth(122);
}
#HomeContent_ResetTB {	@include elemAutoHeight(44);
}
#HomeContent_ResetTB {	z-index: 44;
}
#HomeContent_ResetTB {	&:not(.active):not(.checked) {
		border-width: 2px;
	}
}
#HomeContent_ResetTB {	&.disabled {
		border-width: 2px;
	}
}
#HomeContent_ResetTB {	@include border-radius(5px);
}
#HomeContent_ResetTB {	&:not(.disabled):not(.active):not(.checked) {
		background-color: rgba(255, 255, 255, 1);
	}
}
#HomeContent_ResetTB {	&:not(.disabled):not(.checked) {
		border-color: rgba(0, 0, 0, 1);
	}
}
#HomeContent_ResetTB {	span {
		font-size: 15px;
	}
}
#HomeContent_ResetTB {	&.checked:not(.active):not(.disabled) {
		background-color: rgba(192, 255, 255, 1);
	}
}
