@import "mixins.scss";
#HomeContent_ButtonCmd {	@include elemTop(27);
}
#HomeContent_ButtonCmd {	@include elemLeft(404);
}
#HomeContent_ButtonCmd {	@include elemWidth(208);
}
#HomeContent_ButtonCmd {	@include elemHeight(138);
}
#HomeContent_ButtonCmd {	z-index: 0;
}
#HomeContent_Start {	@include elemTop(1);
}
#HomeContent_Start {	@include elemLeft(42);
}
#HomeContent_Start {	@include elemAutoWidth(121);
}
#HomeContent_Start {	@include elemAutoHeight(58);
}
#HomeContent_Start {	z-index: 0;
}
#HomeContent_Start {	@include border-radius(5px);
}
#HomeContent_Start {	&:not(.disabled):not(.active):not(.checked) {
		background-color: rgba(128, 255, 128, 1);
	}
}
#HomeContent_Start {	&:not(.disabled):not(.checked) {
		border-color: rgba(0, 0, 0, 1);
	}
}
#HomeContent_Start {	span {
		font-size: 18px;
	}
}
#HomeContent_Start {	span {
		font-family: Arial Unicode;
	}
}
#HomeContent_Start {	span {
		@include font-weight-bold(true);
	}
}
#HomeContent_Start {	&.checked:not(.active):not(.disabled) {
		background-color: rgba(128, 255, 128, 1);
	}
}
#HomeContent_Stop {	@include elemTop(74);
}
#HomeContent_Stop {	@include elemLeft(43);
}
#HomeContent_Stop {	@include elemAutoWidth(121);
}
#HomeContent_Stop {	@include elemAutoHeight(58);
}
#HomeContent_Stop {	z-index: 1;
}
#HomeContent_Stop {	@include border-radius(5px);
}
#HomeContent_Stop {	&:not(.disabled):not(.active):not(.checked) {
		background-color: rgba(255, 192, 192, 1);
	}
}
#HomeContent_Stop {	&:not(.disabled):not(.checked) {
		border-color: rgba(0, 0, 0, 1);
	}
}
#HomeContent_Stop {	span {
		font-size: 18px;
	}
}
#HomeContent_Stop {	span {
		font-family: Arial Unicode;
	}
}
#HomeContent_Stop {	span {
		@include font-weight-bold(true);
	}
}
#HomeContent_Stop {	&.checked:not(.active):not(.disabled) {
		background-color: rgba(255, 128, 128, 1);
	}
}
#HomeContent_Conveyor {	@include elemTop(109);
}
#HomeContent_Conveyor {	@include elemLeft(719);
}
#HomeContent_Conveyor {	@include elemAutoWidth(57);
}
#HomeContent_Conveyor {	@include elemAutoHeight(478);
}
#HomeContent_Conveyor {	z-index: 1;
}
#HomeContent_Conveyor {	border-width: 3px;
}
#HomeContent_Conveyor {	@include border-radius(7px);
}
#HomeContent_Conveyor {	background-color: rgba(153, 180, 209, 1);
}
#HomeContent_Conveyor {	border-color: rgba(0, 0, 0, 1);
}
#HomeContent_Conveyor {	&:before {
		border-color: rgba(0, 0, 0, 1);
	}
}
#HomeContent_Conveyor {	&:after {
		border-color: rgba(0, 0, 0, 1);
	}
}
#HomeContent_Conveyor {	border-style: dashed;
}
#HomeContent_Conveyor {	&:before {
		border-style: dashed;
	}
}
#HomeContent_Conveyor {	&:after {
		border-style: dashed;
	}
}
#HomeContent_Conveyortxt {	@include elemTop(328);
}
#HomeContent_Conveyortxt {	@include elemLeft(628);
}
#HomeContent_Conveyortxt {	@include elemAutoWidth(240);
}
#HomeContent_Conveyortxt {	@include elemAutoHeight(33);
}
#HomeContent_Conveyortxt {	z-index: 2;
}
#HomeContent_Conveyortxt {	@include text-alignment-all('center');
}
#HomeContent_Conveyortxt {	@include rotate(270deg);
}
#HomeContent_Conveyortxt {	font-size: 20px;
}
#HomeContent_Label1 {	@include elemAutoWidth(80);
}
#HomeContent_Label1 {	@include elemTop(158);
}
#HomeContent_Label1 {	@include elemLeft(705);
}
#HomeContent_Label1 {	@include elemAutoHeight(7);
}
#HomeContent_Label1 {	z-index: 3;
}
#HomeContent_Label1 {	background-color: rgba(0, 255, 0, 1);
}
#HomeContent_Label1 {	border-style: none;
}
#HomeContent_Label1 {	&:before {
		border-style: none;
	}
}
#HomeContent_Label1 {	&:after {
		border-style: none;
	}
}
#HomeContent_Label1 {	& span {
		color: rgba(0, 0, 0, 1);
	}
}
#HomeContent_printDetect {	@include elemAutoHeight(30);
}
#HomeContent_printDetect {	@include elemTop(147);
}
#HomeContent_printDetect {	@include elemLeft(794);
}
#HomeContent_printDetect {	@include elemAutoWidth(190);
}
#HomeContent_printDetect {	z-index: 4;
}
#HomeContent_printDetect {	@include text-alignment-all('center');
}
#HomeContent_printDetect {	@include font-weight-bold(true);
}
#HomeContent_Cutting {	@include elemAutoWidth(80);
}
#HomeContent_Cutting {	@include elemTop(515);
}
#HomeContent_Cutting {	@include elemLeft(710);
}
#HomeContent_Cutting {	@include elemAutoHeight(7);
}
#HomeContent_Cutting {	z-index: 5;
}
#HomeContent_Cutting {	background-color: rgba(255, 0, 0, 1);
}
#HomeContent_Cutting {	border-style: none;
}
#HomeContent_Cutting {	&:before {
		border-style: none;
	}
}
#HomeContent_Cutting {	&:after {
		border-style: none;
	}
}
#HomeContent_Cutting {	& span {
		color: rgba(0, 0, 0, 1);
	}
}
#HomeContent_CutPosn {	@include elemAutoWidth(80);
}
#HomeContent_CutPosn {	@include elemAutoHeight(30);
}
#HomeContent_CutPosn {	@include elemTop(503);
}
#HomeContent_CutPosn {	@include elemLeft(619);
}
#HomeContent_CutPosn {	z-index: 6;
}
#HomeContent_CutPosn {	@include font-weight-bold(true);
}
#HomeContent_SliderSlavePos {	@include elemTop(426);
}
#HomeContent_SliderSlavePos {	@include elemLeft(848);
}
#HomeContent_SliderSlavePos {	@include elemWidth(184);
}
#HomeContent_SliderSlavePos {	@include elemHeight(184);
}
#HomeContent_SliderSlavePos {	z-index: 7;
}
#HomeContent_SliderSlavePos {	border-style: hidden;
}
#HomeContent_SliderSlavePos {	.RadialSliderGroup .thumb .sliderThumb:not(.disabled) {
		fill: rgba(255, 0, 0, 1);
	}
}
#HomeContent_SliderSlavePos1 {	@include elemTop(434);
}
#HomeContent_SliderSlavePos1 {	@include elemLeft(846);
}
#HomeContent_SliderSlavePos1 {	@include elemWidth(184);
}
#HomeContent_SliderSlavePos1 {	@include elemHeight(184);
}
#HomeContent_SliderSlavePos1 {	z-index: 8;
}
#HomeContent_SliderSlavePos1 {	border-style: hidden;
}
#HomeContent_SliderSlavePos1 {	.RadialSliderGroup .thumb .sliderThumb:not(.disabled) {
		fill: rgba(255, 0, 0, 1);
	}
}
#HomeContent_Label11 {	@include elemAutoHeight(30);
}
#HomeContent_Label11 {	@include elemTop(574);
}
#HomeContent_Label11 {	@include elemLeft(5);
}
#HomeContent_Label11 {	@include elemAutoWidth(188);
}
#HomeContent_Label11 {	z-index: 9;
}
#HomeContent_Label11 {	@include text-alignment-all('left');
}
#HomeContent_Label11 {	font-size: 17px;
}
#HomeContent_Label12 {	@include elemAutoHeight(30);
}
#HomeContent_Label12 {	@include elemTop(636);
}
#HomeContent_Label12 {	@include elemLeft(3);
}
#HomeContent_Label12 {	@include elemAutoWidth(156);
}
#HomeContent_Label12 {	z-index: 10;
}
#HomeContent_Label12 {	@include text-alignment-all('left');
}
#HomeContent_Label12 {	font-size: 17px;
}
#HomeContent_Label13 {	@include elemAutoHeight(30);
}
#HomeContent_Label13 {	@include elemTop(574);
}
#HomeContent_Label13 {	@include elemLeft(337);
}
#HomeContent_Label13 {	@include elemAutoWidth(156);
}
#HomeContent_Label13 {	z-index: 11;
}
#HomeContent_Label13 {	@include text-alignment-all('left');
}
#HomeContent_Label13 {	font-size: 17px;
}
#HomeContent_Label14 {	@include elemAutoHeight(30);
}
#HomeContent_Label14 {	@include elemTop(636);
}
#HomeContent_Label14 {	@include elemLeft(339);
}
#HomeContent_Label14 {	@include elemAutoWidth(184);
}
#HomeContent_Label14 {	z-index: 12;
}
#HomeContent_Label14 {	@include text-alignment-all('left');
}
#HomeContent_Label14 {	font-size: 17px;
}
#HomeContent_outAvgBagLn {	@include elemTop(565);
}
#HomeContent_outAvgBagLn {	@include elemLeft(197);
}
#HomeContent_outAvgBagLn {	@include elemAutoWidth(116);
}
#HomeContent_outAvgBagLn {	@include elemAutoHeight(48);
}
#HomeContent_outAvgBagLn {	z-index: 13;
}
#HomeContent_outAvgBagLn {	@include border-radius(5px);
}
#HomeContent_outAvgBagLn {	input {
		@include text-alignment(left);
	}
}
#HomeContent_outAvgBagLn {	input {
		font-size: 16px;
	}
}
#HomeContent_outAvgBagLn {	.breaseNumericOutput_unit {
		font-size: 11px;
	}
}
#HomeContent_outlastBagLn {	@include elemTop(627);
}
#HomeContent_outlastBagLn {	@include elemLeft(195);
}
#HomeContent_outlastBagLn {	@include elemAutoWidth(116);
}
#HomeContent_outlastBagLn {	@include elemAutoHeight(48);
}
#HomeContent_outlastBagLn {	z-index: 14;
}
#HomeContent_outlastBagLn {	@include border-radius(5px);
}
#HomeContent_outlastBagLn {	input {
		@include text-alignment(left);
	}
}
#HomeContent_outlastBagLn {	input {
		font-size: 16px;
	}
}
#HomeContent_outlastBagLn {	.breaseNumericOutput_unit {
		font-size: 11px;
	}
}
#HomeContent_outValidPM {	@include elemTop(563);
}
#HomeContent_outValidPM {	@include elemLeft(515);
}
#HomeContent_outValidPM {	@include elemAutoWidth(116);
}
#HomeContent_outValidPM {	@include elemAutoHeight(48);
}
#HomeContent_outValidPM {	z-index: 15;
}
#HomeContent_outValidPM {	@include border-radius(5px);
}
#HomeContent_outValidPM {	input {
		font-size: 16px;
	}
}
#HomeContent_outValidPM {	.breaseNumericOutput_unit {
		font-size: 11px;
	}
}
#HomeContent_outPWoPM {	@include elemTop(627);
}
#HomeContent_outPWoPM {	@include elemLeft(523);
}
#HomeContent_outPWoPM {	@include elemAutoWidth(116);
}
#HomeContent_outPWoPM {	@include elemAutoHeight(48);
}
#HomeContent_outPWoPM {	z-index: 16;
}
#HomeContent_outPWoPM {	@include border-radius(5px);
}
#HomeContent_outPWoPM {	input {
		font-size: 16px;
	}
}
#HomeContent_outPWoPM {	.breaseNumericOutput_unit {
		font-size: 11px;
	}
}
#HomeContent_Label3 {	@include elemAutoHeight(30);
}
#HomeContent_Label3 {	@include elemTop(16);
}
#HomeContent_Label3 {	@include elemLeft(140);
}
#HomeContent_Label3 {	@include elemAutoWidth(128);
}
#HomeContent_Label3 {	z-index: 17;
}
#HomeContent_Label3 {	@include text-alignment-all('left');
}
#HomeContent_Label3 {	font-size: 17px;
}
#HomeContent_Label4 {	@include elemAutoHeight(30);
}
#HomeContent_Label4 {	@include elemTop(68);
}
#HomeContent_Label4 {	@include elemLeft(140);
}
#HomeContent_Label4 {	@include elemAutoWidth(128);
}
#HomeContent_Label4 {	z-index: 18;
}
#HomeContent_Label4 {	@include text-alignment-all('left');
}
#HomeContent_Label4 {	font-size: 17px;
}
#HomeContent_Label5 {	@include elemAutoHeight(30);
}
#HomeContent_Label5 {	@include elemTop(120);
}
#HomeContent_Label5 {	@include elemLeft(140);
}
#HomeContent_Label5 {	@include elemAutoWidth(128);
}
#HomeContent_Label5 {	z-index: 19;
}
#HomeContent_Label5 {	@include text-alignment-all('left');
}
#HomeContent_Label5 {	font-size: 17px;
}
#HomeContent_Label6 {	@include elemAutoHeight(30);
}
#HomeContent_Label6 {	@include elemTop(172);
}
#HomeContent_Label6 {	@include elemLeft(140);
}
#HomeContent_Label6 {	@include elemAutoWidth(128);
}
#HomeContent_Label6 {	z-index: 20;
}
#HomeContent_Label6 {	@include text-alignment-all('left');
}
#HomeContent_Label6 {	font-size: 17px;
}
#HomeContent_ImageList1 {	@include elemTop(19);
}
#HomeContent_ImageList1 {	@include elemLeft(291);
}
#HomeContent_ImageList1 {	@include elemWidth(24);
}
#HomeContent_ImageList1 {	@include elemHeight(21);
}
#HomeContent_ImageList1 {	z-index: 21;
}
#HomeContent_ImageList2 {	@include elemTop(71);
}
#HomeContent_ImageList2 {	@include elemLeft(291);
}
#HomeContent_ImageList2 {	@include elemWidth(24);
}
#HomeContent_ImageList2 {	@include elemHeight(21);
}
#HomeContent_ImageList2 {	z-index: 22;
}
#HomeContent_ImageList3 {	@include elemTop(123);
}
#HomeContent_ImageList3 {	@include elemLeft(291);
}
#HomeContent_ImageList3 {	@include elemWidth(24);
}
#HomeContent_ImageList3 {	@include elemHeight(21);
}
#HomeContent_ImageList3 {	z-index: 23;
}
#HomeContent_ImageList4 {	@include elemTop(175);
}
#HomeContent_ImageList4 {	@include elemLeft(291);
}
#HomeContent_ImageList4 {	@include elemWidth(24);
}
#HomeContent_ImageList4 {	@include elemHeight(21);
}
#HomeContent_ImageList4 {	z-index: 24;
}
#HomeContent_Label7 {	@include elemAutoHeight(30);
}
#HomeContent_Label7 {	@include elemTop(257);
}
#HomeContent_Label7 {	@include elemLeft(140);
}
#HomeContent_Label7 {	@include elemAutoWidth(128);
}
#HomeContent_Label7 {	z-index: 25;
}
#HomeContent_Label7 {	@include text-alignment-all('left');
}
#HomeContent_Label7 {	font-size: 17px;
}
#HomeContent_Label8 {	@include elemAutoHeight(30);
}
#HomeContent_Label8 {	@include elemTop(309);
}
#HomeContent_Label8 {	@include elemLeft(140);
}
#HomeContent_Label8 {	@include elemAutoWidth(128);
}
#HomeContent_Label8 {	z-index: 26;
}
#HomeContent_Label8 {	@include text-alignment-all('left');
}
#HomeContent_Label8 {	font-size: 17px;
}
#HomeContent_Label9 {	@include elemAutoHeight(30);
}
#HomeContent_Label9 {	@include elemTop(361);
}
#HomeContent_Label9 {	@include elemLeft(140);
}
#HomeContent_Label9 {	@include elemAutoWidth(128);
}
#HomeContent_Label9 {	z-index: 27;
}
#HomeContent_Label9 {	@include text-alignment-all('left');
}
#HomeContent_Label9 {	font-size: 17px;
}
#HomeContent_Label10 {	@include elemAutoHeight(30);
}
#HomeContent_Label10 {	@include elemTop(413);
}
#HomeContent_Label10 {	@include elemLeft(140);
}
#HomeContent_Label10 {	@include elemAutoWidth(128);
}
#HomeContent_Label10 {	z-index: 28;
}
#HomeContent_Label10 {	@include text-alignment-all('left');
}
#HomeContent_Label10 {	font-size: 17px;
}
#HomeContent_ImageList5 {	@include elemTop(260);
}
#HomeContent_ImageList5 {	@include elemLeft(291);
}
#HomeContent_ImageList5 {	@include elemWidth(24);
}
#HomeContent_ImageList5 {	@include elemHeight(21);
}
#HomeContent_ImageList5 {	z-index: 29;
}
#HomeContent_ImageList6 {	@include elemTop(312);
}
#HomeContent_ImageList6 {	@include elemLeft(291);
}
#HomeContent_ImageList6 {	@include elemWidth(24);
}
#HomeContent_ImageList6 {	@include elemHeight(21);
}
#HomeContent_ImageList6 {	z-index: 30;
}
#HomeContent_ImageList7 {	@include elemTop(364);
}
#HomeContent_ImageList7 {	@include elemLeft(291);
}
#HomeContent_ImageList7 {	@include elemWidth(24);
}
#HomeContent_ImageList7 {	@include elemHeight(21);
}
#HomeContent_ImageList7 {	z-index: 31;
}
#HomeContent_ImageList8 {	@include elemTop(416);
}
#HomeContent_ImageList8 {	@include elemLeft(291);
}
#HomeContent_ImageList8 {	@include elemWidth(24);
}
#HomeContent_ImageList8 {	@include elemHeight(21);
}
#HomeContent_ImageList8 {	z-index: 32;
}
#HomeContent_Label2 {	@include elemAutoHeight(30);
}
#HomeContent_Label2 {	@include elemTop(106);
}
#HomeContent_Label2 {	@include elemLeft(6);
}
#HomeContent_Label2 {	@include elemAutoWidth(132);
}
#HomeContent_Label2 {	z-index: 33;
}
#HomeContent_Label2 {	@include text-alignment-all('center');
}
#HomeContent_Label2 {	font-size: 18px;
}
#HomeContent_Label2 {	@include font-weight-bold(true);
}
#HomeContent_Label25 {	@include elemAutoHeight(30);
}
#HomeContent_Label25 {	@include elemTop(343);
}
#HomeContent_Label25 {	@include elemLeft(6);
}
#HomeContent_Label25 {	@include elemAutoWidth(156);
}
#HomeContent_Label25 {	z-index: 34;
}
#HomeContent_Label25 {	@include text-alignment-all('center');
}
#HomeContent_Label25 {	font-size: 18px;
}
#HomeContent_Label25 {	@include font-weight-bold(true);
}
#HomeContent_Label15 {	@include elemAutoHeight(30);
}
#HomeContent_Label15 {	@include elemTop(499);
}
#HomeContent_Label15 {	@include elemLeft(0);
}
#HomeContent_Label15 {	@include elemAutoWidth(116);
}
#HomeContent_Label15 {	z-index: 35;
}
#HomeContent_Label15 {	font-size: 17px;
}
#HomeContent_Label16 {	@include elemAutoHeight(30);
}
#HomeContent_Label16 {	@include elemTop(499);
}
#HomeContent_Label16 {	@include elemLeft(336);
}
#HomeContent_Label16 {	@include elemAutoWidth(116);
}
#HomeContent_Label16 {	z-index: 36;
}
#HomeContent_Label16 {	font-size: 17px;
}
#HomeContent_outActSpeed {	@include elemTop(490);
}
#HomeContent_outActSpeed {	@include elemLeft(496);
}
#HomeContent_outActSpeed {	@include elemAutoWidth(116);
}
#HomeContent_outActSpeed {	@include elemAutoHeight(48);
}
#HomeContent_outActSpeed {	z-index: 37;
}
#HomeContent_outActSpeed {	@include border-radius(5px);
}
#HomeContent_outActSpeed {	input {
		@include text-alignment(left);
	}
}
#HomeContent_outActSpeed {	input {
		font-size: 16px;
	}
}
#HomeContent_outActSpeed {	.breaseNumericOutput_unit {
		font-size: 11px;
	}
}
#HomeContent_inSetSpeed {	@include elemTop(490);
}
#HomeContent_inSetSpeed {	@include elemLeft(192);
}
#HomeContent_inSetSpeed {	@include elemAutoWidth(116);
}
#HomeContent_inSetSpeed {	@include elemAutoHeight(48);
}
#HomeContent_inSetSpeed {	z-index: 38;
}
#HomeContent_inSetSpeed {	@include border-radius(5px);
}
#HomeContent_inSetSpeed {	&:not(.disabled):not(.active) {
		background-color: rgba(255, 224, 192, 1);
	}
}
#HomeContent_inSetSpeed {	input {
		@include text-alignment(left);
	}
}
#HomeContent_inSetSpeed {	input {
		font-size: 16px;
	}
}
#HomeContent_inSetSpeed {	.breaseNumericInput_unit {
		font-size: 11px;
	}
}
#HomeContent_btnDisableCutter {	@include elemTop(258);
}
#HomeContent_btnDisableCutter {	@include elemLeft(477);
}
#HomeContent_btnDisableCutter {	@include elemAutoWidth(80);
}
#HomeContent_btnDisableCutter {	@include elemAutoHeight(72);
}
#HomeContent_btnDisableCutter {	z-index: 39;
}
#HomeContent_btnDisableCutter {	@include border-radius(10px);
}
#HomeContent_btnDisableCutter {	&.checked:not(.active):not(.disabled) {
		background-color: rgba(255, 224, 192, 1);
	}
}
#HomeContent_btnModeChangeBit {	@include elemTop(336);
}
#HomeContent_btnModeChangeBit {	@include elemLeft(477);
}
#HomeContent_btnModeChangeBit {	@include elemAutoWidth(80);
}
#HomeContent_btnModeChangeBit {	@include elemAutoHeight(72);
}
#HomeContent_btnModeChangeBit {	z-index: 40;
}
#HomeContent_btnModeChangeBit {	@include border-radius(10px);
}
#HomeContent_btnModeChangeBit {	&.checked:not(.active):not(.disabled) {
		background-color: rgba(255, 224, 192, 1);
	}
}
