@import "mixins.scss";
#ManualContent_Conveyor {	@include elemTop(96);
}
#ManualContent_Conveyor {	@include elemLeft(730);
}
#ManualContent_Conveyor {	@include elemAutoWidth(57);
}
#ManualContent_Conveyor {	@include elemAutoHeight(478);
}
#ManualContent_Conveyor {	z-index: 0;
}
#ManualContent_Conveyor {	border-width: 3px;
}
#ManualContent_Conveyor {	@include border-radius(7px);
}
#ManualContent_Conveyor {	background-color: rgba(153, 180, 209, 1);
}
#ManualContent_Conveyor {	border-color: rgba(0, 0, 0, 1);
}
#ManualContent_Conveyor {	&:before {
		border-color: rgba(0, 0, 0, 1);
	}
}
#ManualContent_Conveyor {	&:after {
		border-color: rgba(0, 0, 0, 1);
	}
}
#ManualContent_Conveyor {	border-style: dashed;
}
#ManualContent_Conveyor {	&:before {
		border-style: dashed;
	}
}
#ManualContent_Conveyor {	&:after {
		border-style: dashed;
	}
}
#ManualContent_Conveyortxt {	@include elemTop(315);
}
#ManualContent_Conveyortxt {	@include elemLeft(639);
}
#ManualContent_Conveyortxt {	@include elemAutoWidth(240);
}
#ManualContent_Conveyortxt {	@include elemAutoHeight(33);
}
#ManualContent_Conveyortxt {	z-index: 1;
}
#ManualContent_Conveyortxt {	@include text-alignment-all('center');
}
#ManualContent_Conveyortxt {	@include rotate(270deg);
}
#ManualContent_Conveyortxt {	font-size: 20px;
}
#ManualContent_Label1 {	@include elemAutoWidth(80);
}
#ManualContent_Label1 {	@include elemTop(145);
}
#ManualContent_Label1 {	@include elemLeft(716);
}
#ManualContent_Label1 {	@include elemAutoHeight(7);
}
#ManualContent_Label1 {	z-index: 2;
}
#ManualContent_Label1 {	background-color: rgba(0, 255, 0, 1);
}
#ManualContent_Label1 {	border-style: none;
}
#ManualContent_Label1 {	&:before {
		border-style: none;
	}
}
#ManualContent_Label1 {	&:after {
		border-style: none;
	}
}
#ManualContent_Label1 {	& span {
		color: rgba(0, 0, 0, 1);
	}
}
#ManualContent_printDetect {	@include elemAutoHeight(30);
}
#ManualContent_printDetect {	@include elemTop(134);
}
#ManualContent_printDetect {	@include elemLeft(805);
}
#ManualContent_printDetect {	@include elemAutoWidth(190);
}
#ManualContent_printDetect {	z-index: 3;
}
#ManualContent_printDetect {	@include text-alignment-all('center');
}
#ManualContent_printDetect {	@include font-weight-bold(true);
}
#ManualContent_Cutting {	@include elemAutoWidth(80);
}
#ManualContent_Cutting {	@include elemTop(502);
}
#ManualContent_Cutting {	@include elemLeft(721);
}
#ManualContent_Cutting {	@include elemAutoHeight(7);
}
#ManualContent_Cutting {	z-index: 4;
}
#ManualContent_Cutting {	background-color: rgba(255, 0, 0, 1);
}
#ManualContent_Cutting {	border-style: none;
}
#ManualContent_Cutting {	&:before {
		border-style: none;
	}
}
#ManualContent_Cutting {	&:after {
		border-style: none;
	}
}
#ManualContent_Cutting {	& span {
		color: rgba(0, 0, 0, 1);
	}
}
#ManualContent_CutPosn {	@include elemAutoWidth(80);
}
#ManualContent_CutPosn {	@include elemAutoHeight(30);
}
#ManualContent_CutPosn {	@include elemTop(490);
}
#ManualContent_CutPosn {	@include elemLeft(630);
}
#ManualContent_CutPosn {	z-index: 5;
}
#ManualContent_CutPosn {	@include font-weight-bold(true);
}
#ManualContent_SliderSlavePos {	@include elemTop(413);
}
#ManualContent_SliderSlavePos {	@include elemLeft(859);
}
#ManualContent_SliderSlavePos {	@include elemWidth(184);
}
#ManualContent_SliderSlavePos {	@include elemHeight(184);
}
#ManualContent_SliderSlavePos {	z-index: 6;
}
#ManualContent_SliderSlavePos {	border-style: hidden;
}
#ManualContent_SliderSlavePos {	.RadialSliderGroup .thumb .sliderThumb:not(.disabled) {
		fill: rgba(255, 0, 0, 1);
	}
}
#ManualContent_btnCutStart {	@include elemTop(3);
}
#ManualContent_btnCutStart {	@include elemLeft(497);
}
#ManualContent_btnCutStart {	@include elemAutoWidth(116);
}
#ManualContent_btnCutStart {	@include elemAutoHeight(72);
}
#ManualContent_btnCutStart {	z-index: 7;
}
#ManualContent_btnCutStart {	img {
		@include imageHeight(45);
	}
}
#ManualContent_btnCutStart {	svg {
		@include imageHeight(45);
	}
}
#ManualContent_btnCutStart {	img {
		@include imageWidth(45);
	}
}
#ManualContent_btnCutStart {	svg {
		@include imageWidth(45);
	}
}
#ManualContent_btnCutStart {	@include border-radius(10px);
}
#ManualContent_btnCutStart {	@include text-alignment(center);
}
#ManualContent_btnCutStart {	span {
		font-size: 15px;
	}
}
#ManualContent_btnCutStart {	span {
		@include font-weight-bold(true);
	}
}
#ManualContent_btnCutStart {	&.checked:not(.active):not(.disabled) {
		background-color: rgba(255, 224, 192, 1);
	}
}
#ManualContent_btnConStart {	@include elemTop(374);
}
#ManualContent_btnConStart {	@include elemLeft(495);
}
#ManualContent_btnConStart {	@include elemAutoWidth(116);
}
#ManualContent_btnConStart {	@include elemAutoHeight(73);
}
#ManualContent_btnConStart {	z-index: 8;
}
#ManualContent_btnConStart {	img {
		@include imageHeight(45);
	}
}
#ManualContent_btnConStart {	svg {
		@include imageHeight(45);
	}
}
#ManualContent_btnConStart {	img {
		@include imageWidth(45);
	}
}
#ManualContent_btnConStart {	svg {
		@include imageWidth(45);
	}
}
#ManualContent_btnConStart {	@include border-radius(10px);
}
#ManualContent_btnConStart {	@include text-alignment(center);
}
#ManualContent_btnConStart {	span {
		font-size: 15px;
	}
}
#ManualContent_btnConStart {	span {
		@include font-weight-bold(true);
	}
}
#ManualContent_btnConStart {	&.checked:not(.active):not(.disabled) {
		background-color: rgba(255, 224, 192, 1);
	}
}
#ManualContent_btnCutPower {	@include elemTop(79);
}
#ManualContent_btnCutPower {	@include elemLeft(497);
}
#ManualContent_btnCutPower {	@include elemAutoWidth(116);
}
#ManualContent_btnCutPower {	@include elemAutoHeight(72);
}
#ManualContent_btnCutPower {	z-index: 9;
}
#ManualContent_btnCutPower {	img {
		@include imageHeight(45);
	}
}
#ManualContent_btnCutPower {	svg {
		@include imageHeight(45);
	}
}
#ManualContent_btnCutPower {	img {
		@include imageWidth(45);
	}
}
#ManualContent_btnCutPower {	svg {
		@include imageWidth(45);
	}
}
#ManualContent_btnCutPower {	@include border-radius(10px);
}
#ManualContent_btnCutPower {	@include text-alignment(center);
}
#ManualContent_btnCutPower {	span {
		font-size: 15px;
	}
}
#ManualContent_btnCutPower {	span {
		@include font-weight-bold(true);
	}
}
#ManualContent_btnCutPower {	&.checked:not(.active):not(.disabled) {
		background-color: rgba(255, 224, 192, 1);
	}
}
#ManualContent_btnConPower {	@include elemTop(452);
}
#ManualContent_btnConPower {	@include elemLeft(495);
}
#ManualContent_btnConPower {	@include elemAutoWidth(116);
}
#ManualContent_btnConPower {	@include elemAutoHeight(73);
}
#ManualContent_btnConPower {	z-index: 10;
}
#ManualContent_btnConPower {	img {
		@include imageHeight(45);
	}
}
#ManualContent_btnConPower {	svg {
		@include imageHeight(45);
	}
}
#ManualContent_btnConPower {	img {
		@include imageWidth(45);
	}
}
#ManualContent_btnConPower {	svg {
		@include imageWidth(45);
	}
}
#ManualContent_btnConPower {	@include border-radius(10px);
}
#ManualContent_btnConPower {	@include text-alignment(center);
}
#ManualContent_btnConPower {	span {
		font-size: 15px;
	}
}
#ManualContent_btnConPower {	span {
		@include font-weight-bold(true);
	}
}
#ManualContent_btnConPower {	&.checked:not(.active):not(.disabled) {
		background-color: rgba(255, 224, 192, 1);
	}
}
#ManualContent_outCutSpeed {	@include elemAutoWidth(100);
}
#ManualContent_outCutSpeed {	@include elemTop(243);
}
#ManualContent_outCutSpeed {	@include elemLeft(375);
}
#ManualContent_outCutSpeed {	@include elemAutoHeight(52);
}
#ManualContent_outCutSpeed {	z-index: 11;
}
#ManualContent_outCutSpeed {	@include border-radius(5px);
}
#ManualContent_outCutSpeed {	input {
		@include text-alignment(center);
	}
}
#ManualContent_outCutSpeed {	input {
		font-size: 17px;
	}
}
#ManualContent_outCutSpeed {	.breaseNumericOutput_unit {
		font-size: 11px;
	}
}
#ManualContent_outCutSpeed {	input {
		@include font-style-italic(false);
	}
}
#ManualContent_outConvSpeed {	@include elemAutoWidth(100);
}
#ManualContent_outConvSpeed {	@include elemTop(618);
}
#ManualContent_outConvSpeed {	@include elemLeft(387);
}
#ManualContent_outConvSpeed {	@include elemAutoHeight(52);
}
#ManualContent_outConvSpeed {	z-index: 12;
}
#ManualContent_outConvSpeed {	@include border-radius(5px);
}
#ManualContent_outConvSpeed {	input {
		@include text-alignment(center);
	}
}
#ManualContent_outConvSpeed {	input {
		font-size: 17px;
	}
}
#ManualContent_outConvSpeed {	.breaseNumericOutput_unit {
		font-size: 11px;
	}
}
#ManualContent_outConvSpeed {	input {
		@include font-style-italic(false);
	}
}
#ManualContent_btnCutJogFwd {	@include elemTop(155);
}
#ManualContent_btnCutJogFwd {	@include elemLeft(497);
}
#ManualContent_btnCutJogFwd {	@include elemAutoWidth(116);
}
#ManualContent_btnCutJogFwd {	@include elemAutoHeight(72);
}
#ManualContent_btnCutJogFwd {	z-index: 13;
}
#ManualContent_btnCutJogFwd {	img {
		@include imageHeight(45);
	}
}
#ManualContent_btnCutJogFwd {	svg {
		@include imageHeight(45);
	}
}
#ManualContent_btnCutJogFwd {	img {
		@include imageWidth(45);
	}
}
#ManualContent_btnCutJogFwd {	svg {
		@include imageWidth(45);
	}
}
#ManualContent_btnCutJogFwd {	@include border-radius(10px);
}
#ManualContent_btnCutJogFwd {	@include text-alignment(center);
}
#ManualContent_btnCutJogFwd {	span {
		font-size: 15px;
	}
}
#ManualContent_btnCutJogFwd {	span {
		@include font-weight-bold(true);
	}
}
#ManualContent_btnCutJogFwd {	&.checked:not(.active):not(.disabled) {
		background-color: rgba(255, 224, 192, 1);
	}
}
#ManualContent_btnCutJogBack {	@include elemTop(231);
}
#ManualContent_btnCutJogBack {	@include elemLeft(497);
}
#ManualContent_btnCutJogBack {	@include elemAutoWidth(116);
}
#ManualContent_btnCutJogBack {	@include elemAutoHeight(72);
}
#ManualContent_btnCutJogBack {	z-index: 14;
}
#ManualContent_btnCutJogBack {	img {
		@include imageHeight(45);
	}
}
#ManualContent_btnCutJogBack {	svg {
		@include imageHeight(45);
	}
}
#ManualContent_btnCutJogBack {	img {
		@include imageWidth(45);
	}
}
#ManualContent_btnCutJogBack {	svg {
		@include imageWidth(45);
	}
}
#ManualContent_btnCutJogBack {	@include border-radius(10px);
}
#ManualContent_btnCutJogBack {	@include text-alignment(center);
}
#ManualContent_btnCutJogBack {	span {
		font-size: 15px;
	}
}
#ManualContent_btnCutJogBack {	span {
		@include font-weight-bold(true);
	}
}
#ManualContent_btnCutJogBack {	&.checked:not(.active):not(.disabled) {
		background-color: rgba(255, 224, 192, 1);
	}
}
#ManualContent_btnConJogFwd {	@include elemTop(530);
}
#ManualContent_btnConJogFwd {	@include elemLeft(495);
}
#ManualContent_btnConJogFwd {	@include elemAutoWidth(116);
}
#ManualContent_btnConJogFwd {	@include elemAutoHeight(73);
}
#ManualContent_btnConJogFwd {	z-index: 15;
}
#ManualContent_btnConJogFwd {	img {
		@include imageHeight(45);
	}
}
#ManualContent_btnConJogFwd {	svg {
		@include imageHeight(45);
	}
}
#ManualContent_btnConJogFwd {	img {
		@include imageWidth(45);
	}
}
#ManualContent_btnConJogFwd {	svg {
		@include imageWidth(45);
	}
}
#ManualContent_btnConJogFwd {	@include border-radius(10px);
}
#ManualContent_btnConJogFwd {	@include text-alignment(center);
}
#ManualContent_btnConJogFwd {	span {
		font-size: 15px;
	}
}
#ManualContent_btnConJogFwd {	span {
		@include font-weight-bold(true);
	}
}
#ManualContent_btnConJogFwd {	&.checked:not(.active):not(.disabled) {
		background-color: rgba(255, 224, 192, 1);
	}
}
#ManualContent_btnConJogBack {	@include elemTop(608);
}
#ManualContent_btnConJogBack {	@include elemLeft(495);
}
#ManualContent_btnConJogBack {	@include elemAutoWidth(116);
}
#ManualContent_btnConJogBack {	@include elemAutoHeight(73);
}
#ManualContent_btnConJogBack {	z-index: 16;
}
#ManualContent_btnConJogBack {	img {
		@include imageHeight(45);
	}
}
#ManualContent_btnConJogBack {	svg {
		@include imageHeight(45);
	}
}
#ManualContent_btnConJogBack {	img {
		@include imageWidth(45);
	}
}
#ManualContent_btnConJogBack {	svg {
		@include imageWidth(45);
	}
}
#ManualContent_btnConJogBack {	@include border-radius(10px);
}
#ManualContent_btnConJogBack {	@include text-alignment(center);
}
#ManualContent_btnConJogBack {	span {
		font-size: 15px;
	}
}
#ManualContent_btnConJogBack {	span {
		@include font-weight-bold(true);
	}
}
#ManualContent_btnConJogBack {	&.checked:not(.active):not(.disabled) {
		background-color: rgba(255, 224, 192, 1);
	}
}
#ManualContent_ImageList2 {	@include elemTop(183);
}
#ManualContent_ImageList2 {	@include elemLeft(425);
}
#ManualContent_ImageList2 {	@include elemWidth(24);
}
#ManualContent_ImageList2 {	@include elemHeight(21);
}
#ManualContent_ImageList2 {	z-index: 17;
}
#ManualContent_ImageList3 {	@include elemTop(560);
}
#ManualContent_ImageList3 {	@include elemLeft(416);
}
#ManualContent_ImageList3 {	@include elemWidth(24);
}
#ManualContent_ImageList3 {	@include elemHeight(21);
}
#ManualContent_ImageList3 {	z-index: 18;
}
#ManualContent_btnDisableCutter {	@include elemTop(21);
}
#ManualContent_btnDisableCutter {	@include elemLeft(25);
}
#ManualContent_btnDisableCutter {	@include elemAutoWidth(80);
}
#ManualContent_btnDisableCutter {	@include elemAutoHeight(72);
}
#ManualContent_btnDisableCutter {	z-index: 19;
}
#ManualContent_btnDisableCutter {	@include border-radius(10px);
}
#ManualContent_btnDisableCutter {	span {
		font-size: 15px;
	}
}
#ManualContent_btnDisableCutter {	span {
		@include font-weight-bold(true);
	}
}
#ManualContent_btnDisableCutter {	&.checked:not(.active):not(.disabled) {
		background-color: rgba(255, 224, 192, 1);
	}
}
#ManualContent_btnModeChangeBit {	@include elemTop(110);
}
#ManualContent_btnModeChangeBit {	@include elemLeft(21);
}
#ManualContent_btnModeChangeBit {	@include elemAutoWidth(80);
}
#ManualContent_btnModeChangeBit {	@include elemAutoHeight(72);
}
#ManualContent_btnModeChangeBit {	z-index: 20;
}
#ManualContent_btnModeChangeBit {	@include border-radius(10px);
}
#ManualContent_btnModeChangeBit {	&.checked:not(.active):not(.disabled) {
		background-color: rgba(255, 224, 192, 1);
	}
}
