@import "mixins.scss";
#SingleCutterAni_SliderSlavePos {	@include elemTop(378);
}
#SingleCutterAni_SliderSlavePos {	@include elemLeft(202);
}
#SingleCutterAni_SliderSlavePos {	@include elemWidth(184);
}
#SingleCutterAni_SliderSlavePos {	@include elemHeight(184);
}
#SingleCutterAni_SliderSlavePos {	z-index: 0;
}
#SingleCutterAni_SliderSlavePos {	border-style: hidden;
}
#SingleCutterAni_Label18 {	@include elemTop(24);
}
#SingleCutterAni_Label18 {	@include elemLeft(66);
}
#SingleCutterAni_Label18 {	@include elemAutoWidth(96);
}
#SingleCutterAni_Label18 {	@include elemAutoHeight(540);
}
#SingleCutterAni_Label18 {	z-index: 1;
}
#SingleCutterAni_Label18 {	@include border-radius(20px);
}
#SingleCutterAni_Label18 {	background-color: rgba(255, 224, 192, 1);
}
#SingleCutterAni_ImageList9 {	@include elemTop(85);
}
#SingleCutterAni_ImageList9 {	@include elemLeft(198);
}
#SingleCutterAni_ImageList9 {	@include elemWidth(24);
}
#SingleCutterAni_ImageList9 {	@include elemHeight(20);
}
#SingleCutterAni_ImageList9 {	z-index: 2;
}
#SingleCutterAni_ImageList10 {	@include elemTop(461);
}
#SingleCutterAni_ImageList10 {	@include elemLeft(134);
}
#SingleCutterAni_ImageList10 {	@include elemWidth(24);
}
#SingleCutterAni_ImageList10 {	@include elemHeight(20);
}
#SingleCutterAni_ImageList10 {	z-index: 3;
}
#SingleCutterAni_Label19 {	@include elemTop(60);
}
#SingleCutterAni_Label19 {	@include elemLeft(230);
}
#SingleCutterAni_Label19 {	@include elemAutoWidth(124);
}
#SingleCutterAni_Label19 {	@include elemAutoHeight(70);
}
#SingleCutterAni_Label19 {	z-index: 4;
}
#SingleCutterAni_Label19 {	background-color: rgba(211, 211, 211, 1);
}
#SingleCutterAni_Label19 {	@include text-alignment-all('center');
}
#SingleCutterAni_Label19 {	font-size: 17px;
}
#SingleCutterAni_Label19 {	@include font-weight-bold(true);
}
#SingleCutterAni_Label20 {	@include elemTop(436);
}
#SingleCutterAni_Label20 {	@include elemLeft(14);
}
#SingleCutterAni_Label20 {	@include elemAutoWidth(108);
}
#SingleCutterAni_Label20 {	@include elemAutoHeight(70);
}
#SingleCutterAni_Label20 {	z-index: 5;
}
#SingleCutterAni_Label20 {	background-color: rgba(211, 211, 211, 1);
}
#SingleCutterAni_Label20 {	@include text-alignment-all('center');
}
#SingleCutterAni_Label20 {	font-size: 17px;
}
#SingleCutterAni_Label20 {	@include font-weight-bold(true);
}
#SingleCutterAni_Label21 {	@include elemTop(200);
}
#SingleCutterAni_Label21 {	@include elemLeft(54);
}
#SingleCutterAni_Label21 {	@include elemAutoWidth(120);
}
#SingleCutterAni_Label21 {	@include elemAutoHeight(40);
}
#SingleCutterAni_Label21 {	z-index: 6;
}
#SingleCutterAni_Label21 {	background-color: rgba(211, 211, 211, 1);
}
#SingleCutterAni_Label21 {	@include text-alignment-all('center');
}
#SingleCutterAni_Label21 {	font-size: 17px;
}
#SingleCutterAni_Label21 {	@include font-weight-bold(true);
}
#SingleCutterAni_Label22 {	@include elemTop(556);
}
#SingleCutterAni_Label22 {	@include elemLeft(256);
}
#SingleCutterAni_Label22 {	@include elemAutoWidth(76);
}
#SingleCutterAni_Label22 {	@include elemAutoHeight(40);
}
#SingleCutterAni_Label22 {	z-index: 7;
}
#SingleCutterAni_Label22 {	background-color: rgba(211, 211, 211, 1);
}
#SingleCutterAni_Label22 {	@include text-alignment-all('center');
}
#SingleCutterAni_Label22 {	font-size: 17px;
}
#SingleCutterAni_Label22 {	@include font-weight-bold(true);
}
