@import "mixins.scss";
@mixin widgets_brease_WebViewer_base {
	@include elemWidth(300);
	@include elemHeight(200);
	@include elemMinWidth(0);
	@include elemMaxWidth(0);
	@include elemMinHeight(0);
	@include elemMaxHeight(0);
	& iframe {
		background-color: transparent;
	}
	& div.editorImage {
		background-color: transparent;
	}
	& iframe {
		border-color: #9A9A9A;
	}
	& div.editorImage {
		border-color: #9A9A9A;
	}
	& iframe {
		border-style: solid;
	}
	& div.editorImage {
		border-style: solid;
	}
	& iframe {
		border-width: 2px 0px 0px 2px;
	}
	& div.editorImage {
		border-width: 2px 0px 0px 2px;
	}
	& iframe {
		@include border-radius(0px);
	}
	& div.editorImage {
		@include border-radius(0px);
	}

}

