@import "mixins.scss";
#AxisSetContent_txtacc {	@include elemAutoHeight(30);
}
#AxisSetContent_txtacc {	@include elemTop(123);
}
#AxisSetContent_txtacc {	@include elemLeft(428);
}
#AxisSetContent_txtacc {	@include elemAutoWidth(116);
}
#AxisSetContent_txtacc {	z-index: 0;
}
#AxisSetContent_txtacc {	font-size: 17px;
}
#AxisSetContent_setspd {	@include elemAutoHeight(30);
}
#AxisSetContent_setspd {	@include elemTop(46);
}
#AxisSetContent_setspd {	@include elemLeft(428);
}
#AxisSetContent_setspd {	@include elemAutoWidth(116);
}
#AxisSetContent_setspd {	z-index: 1;
}
#AxisSetContent_setspd {	font-size: 17px;
}
#AxisSetContent_txtdecc {	@include elemAutoHeight(30);
}
#AxisSetContent_txtdecc {	@include elemTop(201);
}
#AxisSetContent_txtdecc {	@include elemLeft(428);
}
#AxisSetContent_txtdecc {	@include elemAutoWidth(116);
}
#AxisSetContent_txtdecc {	z-index: 2;
}
#AxisSetContent_txtdecc {	font-size: 17px;
}
#AxisSetContent_inCutSetSpeed {	@include elemAutoWidth(100);
}
#AxisSetContent_inCutSetSpeed {	@include elemTop(35);
}
#AxisSetContent_inCutSetSpeed {	@include elemLeft(576);
}
#AxisSetContent_inCutSetSpeed {	@include elemAutoHeight(52);
}
#AxisSetContent_inCutSetSpeed {	z-index: 3;
}
#AxisSetContent_inCutSetSpeed {	@include border-radius(10px);
}
#AxisSetContent_inCutSetSpeed {	&:not(.disabled):not(.active) {
		background-color: rgba(192, 192, 255, 1);
	}
}
#AxisSetContent_inCutDeacc {	@include elemAutoWidth(100);
}
#AxisSetContent_inCutDeacc {	@include elemTop(190);
}
#AxisSetContent_inCutDeacc {	@include elemLeft(576);
}
#AxisSetContent_inCutDeacc {	@include elemAutoHeight(52);
}
#AxisSetContent_inCutDeacc {	z-index: 4;
}
#AxisSetContent_inCutDeacc {	@include border-radius(10px);
}
#AxisSetContent_inCutDeacc {	&:not(.disabled):not(.active) {
		background-color: rgba(192, 192, 255, 1);
	}
}
#AxisSetContent_inCutAcc {	@include elemAutoWidth(100);
}
#AxisSetContent_inCutAcc {	@include elemTop(112);
}
#AxisSetContent_inCutAcc {	@include elemLeft(576);
}
#AxisSetContent_inCutAcc {	@include elemAutoHeight(52);
}
#AxisSetContent_inCutAcc {	z-index: 5;
}
#AxisSetContent_inCutAcc {	@include border-radius(10px);
}
#AxisSetContent_inCutAcc {	&:not(.disabled):not(.active) {
		background-color: rgba(192, 192, 255, 1);
	}
}
#AxisSetContent_inConvAcc {	@include elemAutoWidth(100);
}
#AxisSetContent_inConvAcc {	@include elemTop(417);
}
#AxisSetContent_inConvAcc {	@include elemLeft(576);
}
#AxisSetContent_inConvAcc {	@include elemAutoHeight(52);
}
#AxisSetContent_inConvAcc {	z-index: 6;
}
#AxisSetContent_inConvAcc {	@include border-radius(10px);
}
#AxisSetContent_inConvAcc {	&:not(.disabled):not(.active) {
		background-color: rgba(192, 192, 255, 1);
	}
}
#AxisSetContent_inConvSpeed {	@include elemAutoWidth(100);
}
#AxisSetContent_inConvSpeed {	@include elemTop(340);
}
#AxisSetContent_inConvSpeed {	@include elemLeft(576);
}
#AxisSetContent_inConvSpeed {	@include elemAutoHeight(52);
}
#AxisSetContent_inConvSpeed {	z-index: 7;
}
#AxisSetContent_inConvSpeed {	@include border-radius(10px);
}
#AxisSetContent_inConvSpeed {	&:not(.disabled):not(.active) {
		background-color: rgba(192, 192, 255, 1);
	}
}
#AxisSetContent_inConvDeacc {	@include elemAutoWidth(100);
}
#AxisSetContent_inConvDeacc {	@include elemTop(495);
}
#AxisSetContent_inConvDeacc {	@include elemLeft(576);
}
#AxisSetContent_inConvDeacc {	@include elemAutoHeight(52);
}
#AxisSetContent_inConvDeacc {	z-index: 8;
}
#AxisSetContent_inConvDeacc {	@include border-radius(10px);
}
#AxisSetContent_inConvDeacc {	&:not(.disabled):not(.active) {
		background-color: rgba(192, 192, 255, 1);
	}
}
#AxisSetContent_Label7 {	@include elemAutoHeight(30);
}
#AxisSetContent_Label7 {	@include elemTop(201);
}
#AxisSetContent_Label7 {	@include elemLeft(676);
}
#AxisSetContent_Label7 {	@include elemAutoWidth(64);
}
#AxisSetContent_Label7 {	z-index: 9;
}
#AxisSetContent_Label7 {	@include text-alignment-all('center');
}
#AxisSetContent_Label7 {	font-size: 10px;
}
#AxisSetContent_Label7 {	@include font-weight-bold(true);
}
#AxisSetContent_Label8 {	@include elemAutoHeight(30);
}
#AxisSetContent_Label8 {	@include elemTop(425);
}
#AxisSetContent_Label8 {	@include elemLeft(676);
}
#AxisSetContent_Label8 {	@include elemAutoWidth(64);
}
#AxisSetContent_Label8 {	z-index: 10;
}
#AxisSetContent_Label8 {	@include text-alignment-all('center');
}
#AxisSetContent_Label8 {	font-size: 10px;
}
#AxisSetContent_Label8 {	@include font-weight-bold(true);
}
#AxisSetContent_Label9 {	@include elemAutoHeight(30);
}
#AxisSetContent_Label9 {	@include elemTop(123);
}
#AxisSetContent_Label9 {	@include elemLeft(676);
}
#AxisSetContent_Label9 {	@include elemAutoWidth(64);
}
#AxisSetContent_Label9 {	z-index: 11;
}
#AxisSetContent_Label9 {	@include text-alignment-all('center');
}
#AxisSetContent_Label9 {	font-size: 10px;
}
#AxisSetContent_Label9 {	@include font-weight-bold(true);
}
#AxisSetContent_Label10 {	@include elemAutoHeight(30);
}
#AxisSetContent_Label10 {	@include elemTop(503);
}
#AxisSetContent_Label10 {	@include elemLeft(676);
}
#AxisSetContent_Label10 {	@include elemAutoWidth(64);
}
#AxisSetContent_Label10 {	z-index: 12;
}
#AxisSetContent_Label10 {	@include text-alignment-all('center');
}
#AxisSetContent_Label10 {	font-size: 10px;
}
#AxisSetContent_Label10 {	@include font-weight-bold(true);
}
#AxisSetContent_Label4 {	@include elemAutoHeight(30);
}
#AxisSetContent_Label4 {	@include elemTop(140);
}
#AxisSetContent_Label4 {	@include elemLeft(188);
}
#AxisSetContent_Label4 {	@include elemAutoWidth(132);
}
#AxisSetContent_Label4 {	z-index: 13;
}
#AxisSetContent_Label4 {	@include text-alignment-all('center');
}
#AxisSetContent_Label4 {	font-size: 18px;
}
#AxisSetContent_Label4 {	@include font-weight-bold(true);
}
#AxisSetContent_Label25 {	@include elemAutoHeight(30);
}
#AxisSetContent_Label25 {	@include elemTop(423);
}
#AxisSetContent_Label25 {	@include elemLeft(188);
}
#AxisSetContent_Label25 {	@include elemAutoWidth(155);
}
#AxisSetContent_Label25 {	z-index: 14;
}
#AxisSetContent_Label25 {	@include text-alignment-all('center');
}
#AxisSetContent_Label25 {	font-size: 18px;
}
#AxisSetContent_Label25 {	@include font-weight-bold(true);
}
#AxisSetContent_txtacc1 {	@include elemAutoHeight(30);
}
#AxisSetContent_txtacc1 {	@include elemTop(424);
}
#AxisSetContent_txtacc1 {	@include elemLeft(418);
}
#AxisSetContent_txtacc1 {	@include elemAutoWidth(116);
}
#AxisSetContent_txtacc1 {	z-index: 15;
}
#AxisSetContent_txtacc1 {	font-size: 17px;
}
#AxisSetContent_setspd1 {	@include elemAutoHeight(30);
}
#AxisSetContent_setspd1 {	@include elemTop(347);
}
#AxisSetContent_setspd1 {	@include elemLeft(418);
}
#AxisSetContent_setspd1 {	@include elemAutoWidth(116);
}
#AxisSetContent_setspd1 {	z-index: 16;
}
#AxisSetContent_setspd1 {	font-size: 17px;
}
#AxisSetContent_txtdecc1 {	@include elemAutoHeight(30);
}
#AxisSetContent_txtdecc1 {	@include elemTop(502);
}
#AxisSetContent_txtdecc1 {	@include elemLeft(418);
}
#AxisSetContent_txtdecc1 {	@include elemAutoWidth(116);
}
#AxisSetContent_txtdecc1 {	z-index: 17;
}
#AxisSetContent_txtdecc1 {	font-size: 17px;
}
