@import "mixins.scss";
#NavBarContent_ButtonBar {	@include elemTop(136);
}
#NavBarContent_ButtonBar {	@include elemLeft(2);
}
#NavBarContent_ButtonBar {	@include elemWidth(147);
}
#NavBarContent_ButtonBar {	@include elemHeight(550);
}
#NavBarContent_ButtonBar {	z-index: 0;
}
#NavBarContent_cmdAlarm {	@include elemTop(157);
}
#NavBarContent_cmdAlarm {	@include elemLeft(18);
}
#NavBarContent_cmdAlarm {	@include elemAutoWidth(114);
}
#NavBarContent_cmdAlarm {	@include elemAutoHeight(58);
}
#NavBarContent_cmdAlarm {	z-index: 0;
}
#NavBarContent_cmdAlarm {	img {
		@include imageHeight(40);
	}
}
#NavBarContent_cmdAlarm {	svg {
		@include imageHeight(40);
	}
}
#NavBarContent_cmdAlarm {	img {
		@include imageWidth(40);
	}
}
#NavBarContent_cmdAlarm {	svg {
		@include imageWidth(40);
	}
}
#NavBarContent_cmdAlarm {	&:not(.active):not(.checked) {
		border-width: 0px;
	}
}
#NavBarContent_cmdAlarm {	&.disabled {
		border-width: 0px;
	}
}
#NavBarContent_cmdAlarm {	@include border-radius(5px);
}
#NavBarContent_cmdAlarm {	&:not(.disabled):not(.active):not(.checked) {
		background-color: rgba(169, 206, 244, 1);
	}
}
#NavBarContent_cmdAlarm {	span {
		font-size: 11px;
	}
}
#NavBarContent_cmdAlarm {	span {
		@include font-weight-bold(false);
	}
}
#NavBarContent_cmdParams {	@include elemTop(258);
}
#NavBarContent_cmdParams {	@include elemLeft(18);
}
#NavBarContent_cmdParams {	@include elemAutoWidth(114);
}
#NavBarContent_cmdParams {	@include elemAutoHeight(58);
}
#NavBarContent_cmdParams {	z-index: 1;
}
#NavBarContent_cmdParams {	img {
		@include imageHeight(40);
	}
}
#NavBarContent_cmdParams {	svg {
		@include imageHeight(40);
	}
}
#NavBarContent_cmdParams {	img {
		@include imageWidth(40);
	}
}
#NavBarContent_cmdParams {	svg {
		@include imageWidth(40);
	}
}
#NavBarContent_cmdParams {	&:not(.active):not(.checked) {
		border-width: 0px;
	}
}
#NavBarContent_cmdParams {	&.disabled {
		border-width: 0px;
	}
}
#NavBarContent_cmdParams {	@include border-radius(5px);
}
#NavBarContent_cmdParams {	&:not(.disabled):not(.active):not(.checked) {
		background-color: rgba(169, 206, 244, 1);
	}
}
#NavBarContent_cmdParams {	span {
		font-size: 11px;
	}
}
#NavBarContent_cmdParams {	span {
		@include font-weight-bold(false);
	}
}
#NavBarContent_cmdHome {	@include elemTop(56);
}
#NavBarContent_cmdHome {	@include elemLeft(18);
}
#NavBarContent_cmdHome {	@include elemAutoWidth(114);
}
#NavBarContent_cmdHome {	@include elemAutoHeight(58);
}
#NavBarContent_cmdHome {	z-index: 2;
}
#NavBarContent_cmdHome {	img {
		@include imageHeight(40);
	}
}
#NavBarContent_cmdHome {	svg {
		@include imageHeight(40);
	}
}
#NavBarContent_cmdHome {	img {
		@include imageWidth(40);
	}
}
#NavBarContent_cmdHome {	svg {
		@include imageWidth(40);
	}
}
#NavBarContent_cmdHome {	&:not(.active):not(.checked) {
		border-width: 0px;
	}
}
#NavBarContent_cmdHome {	&.disabled {
		border-width: 0px;
	}
}
#NavBarContent_cmdHome {	@include border-radius(5px);
}
#NavBarContent_cmdHome {	&:not(.disabled):not(.active):not(.checked) {
		background-color: rgba(169, 206, 244, 1);
	}
}
#NavBarContent_cmdHome {	span {
		font-size: 11px;
	}
}
#NavBarContent_cmdHome {	span {
		@include font-weight-bold(false);
	}
}
#NavBarContent_cmdUsers {	@include elemTop(359);
}
#NavBarContent_cmdUsers {	@include elemLeft(18);
}
#NavBarContent_cmdUsers {	@include elemAutoWidth(114);
}
#NavBarContent_cmdUsers {	@include elemAutoHeight(58);
}
#NavBarContent_cmdUsers {	z-index: 3;
}
#NavBarContent_cmdUsers {	img {
		@include imageHeight(40);
	}
}
#NavBarContent_cmdUsers {	svg {
		@include imageHeight(40);
	}
}
#NavBarContent_cmdUsers {	img {
		@include imageWidth(40);
	}
}
#NavBarContent_cmdUsers {	svg {
		@include imageWidth(40);
	}
}
#NavBarContent_cmdUsers {	&:not(.active):not(.checked) {
		border-width: 0px;
	}
}
#NavBarContent_cmdUsers {	&.disabled {
		border-width: 0px;
	}
}
#NavBarContent_cmdUsers {	@include border-radius(5px);
}
#NavBarContent_cmdUsers {	&:not(.disabled):not(.active):not(.checked) {
		background-color: rgba(169, 206, 244, 1);
	}
}
#NavBarContent_cmdUsers {	span {
		font-size: 11px;
	}
}
#NavBarContent_cmdUsers {	span {
		@include font-weight-bold(false);
	}
}
#NavBarContent_cmdDiagn {	@include elemTop(460);
}
#NavBarContent_cmdDiagn {	@include elemLeft(18);
}
#NavBarContent_cmdDiagn {	@include elemAutoWidth(114);
}
#NavBarContent_cmdDiagn {	@include elemAutoHeight(58);
}
#NavBarContent_cmdDiagn {	z-index: 4;
}
#NavBarContent_cmdDiagn {	img {
		@include imageHeight(40);
	}
}
#NavBarContent_cmdDiagn {	svg {
		@include imageHeight(40);
	}
}
#NavBarContent_cmdDiagn {	img {
		@include imageWidth(40);
	}
}
#NavBarContent_cmdDiagn {	svg {
		@include imageWidth(40);
	}
}
#NavBarContent_cmdDiagn {	&:not(.active):not(.checked) {
		border-width: 0px;
	}
}
#NavBarContent_cmdDiagn {	&.disabled {
		border-width: 0px;
	}
}
#NavBarContent_cmdDiagn {	@include border-radius(5px);
}
#NavBarContent_cmdDiagn {	&:not(.disabled):not(.active):not(.checked) {
		background-color: rgba(169, 206, 244, 1);
	}
}
#NavBarContent_cmdDiagn {	span {
		font-size: 11px;
	}
}
#NavBarContent_cmdDiagn {	span {
		@include font-weight-bold(false);
	}
}
#NavBarContent_Image1 {	@include elemTop(1);
}
#NavBarContent_Image1 {	@include elemLeft(-3);
}
#NavBarContent_Image1 {	@include elemAutoWidth(152);
}
#NavBarContent_Image1 {	@include elemAutoHeight(135);
}
#NavBarContent_Image1 {	z-index: 1;
}
#NavBarContent_Image1 {	border-width: 0px;
}
